In [1]:
import pandas as pd

In [2]:
pip install langdetect

Requirement already satisfied: langdetect in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (1.0.9)
Requirement already satisfied: six in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from langdetect) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
f = pd.read_csv("file123.csv")

In [4]:
f.tail(10)

,reviews,reviewer,starRating,createTime,updateTime,name,comment,displayName,reviewer_name,review_id
66,NaN,{'displayName': 'Fabiano Salermo de Aquino'},FOUR,2018-03-05T01:10:23.097Z,2018-03-05T01:10:23.097Z,accounts/113838515205835963900/locations/41527...,NaN,Fabiano Salermo de Aquino,Fabiano Salermo de Aquino,ChdDSUhNMG9nS0VJQ0FnSUN3eGJhOWlBRRAB
67,NaN,{'displayName': 'Elton Rafael'},FOUR,2018-03-04T23:16:10.984Z,2018-03-04T23:16:10.984Z,accounts/113838515205835963900/locations/41527...,NaN,Elton Rafael,Elton Rafael,ChZDSUhNMG9nS0VJQ0FnSUNBMkpLSExnEAE
68,NaN,{'displayName': 'Fernando Oliveira'},FIVE,2018-03-03T21:18:03.304Z,2018-03-03T21:18:18.649Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Very good for camping o...,Fernando Oliveira,Fernando Oliveira,ChZDSUhNMG9nS0VJQ0FnSUNBNHVIUFRBEAE
69,NaN,{'displayName': 'Paulo Sousa'},FIVE,2018-03-01T09:04:48.649Z,2018-03-01T09:04:48.649Z,accounts/113838515205835963900/locations/41527...,NaN,Paulo Sousa,Paulo Sousa,ChdDSUhNMG9nS0VJQ0FnSURnaDhPX2xBRRAB
70,NaN,{'displayName': 'Andréia Coelho'},FIVE,2018-03-01T01:01:12.852Z,2018-03-01T01:01:34.540Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Family atmosphere. Grea...,Andréia Coelho,Andréia Coelho,ChZDSUhNMG9nS0VJQ0FnSUNneXBUNkZREAE
71,NaN,{'displayName': 'Matheus SB'},FIVE,2018-02-28T16:13:13.279Z,2018-02-28T16:13:30.711Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Great food.. cozy place...,Matheus SB,Matheus SB,ChZDSUhNMG9nS0VJQ0FnSUN3OE02Y0hBEAE
72,NaN,{'displayName': 'Eliezer Monteiro'},FIVE,2018-01-21T17:49:56.901Z,2018-02-27T03:02:33.005Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Just wonderful. Good pr...,Eliezer Monteiro,Eliezer Monteiro,ChZDSUhNMG9nS0VJQ0FnSUNnNFA2VUNREAE
73,NaN,{'displayName': 'Lucas Gasparini'},FIVE,2018-02-26T15:46:56.876Z,2018-02-26T15:47:54.784Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Very good\n\n(Original)...,Lucas Gasparini,Lucas Gasparini,ChdDSUhNMG9nS0VJQ0FnSURBLTk2eHVRRRAB
74,NaN,{'displayName': 'wagner diniz'},FIVE,2018-02-26T11:59:53.396Z,2018-02-26T12:00:00.704Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) The best\n\n(Original)\...,wagner diniz,wagner diniz,ChdDSUhNMG9nS0VJQ0FnSUNZaU9idHhRRRAB
75,NaN,{'displayName': 'Paulo Sergio Costa Braga'},FIVE,2018-02-26T11:49:25.750Z,2018-02-26T11:50:19.695Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Very quiet and wonderfu...,Paulo Sergio Costa Braga,Paulo Sergio Costa Braga,ChZDSUhNMG9nS0VJQ0FnSURBaU9td09BEAE

In [22]:
f.head()

,reviews,reviewer,starRating,createTime,updateTime,name,comment,displayName,reviewer_name,review_id
0,{'reviewer': {'displayName': 'Virginia Malék M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'reviewer': {'displayName': 'Edson ITD'}, 'st...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'reviewer': {'displayName': 'Alessandra Santo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,{'reviewer': {'displayName': 'Marcos Scudeler'...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,{'reviewer': {'displayName': 'Ailton Dos Santo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd
import numpy as np

# Assuming you have a DataFrame named 'f' with a column named 'English_Text'
# Replace the sample data with your actual DataFrame

data = {'English_Text': f["comment"].tolist()}
df = pd.DataFrame(data)

# Function to clean the text
def clean_text(text):
    if pd.notna(text):  # Check for NaN values
        # Remove "(Translated by Google)"
        text = text.replace('(Translated by Google)', '')

        # Remove "\n\n(Original)\n"
        text = text.replace('\n\n(Original)\n', '')

        # Remove "\" 
        text = text.replace('\\', '')

        return text.strip()  # Remove leading and trailing whitespaces
    else:
        return text  # Return NaN if the input is NaN

# Apply the cleaning function to each row in the 'English_Text' column
df['cleaned_text'] = f['comment'].apply(clean_text)

# Display the DataFrame with the cleaned text
df.tail()

,English_Text,cleaned_text
71,(Translated by Google) Great food.. cozy place...,Great food.. cozy placeComida ótima.. lugar ac...
72,(Translated by Google) Just wonderful. Good pr...,"Just wonderful. Good price, good restaurant to..."
73,(Translated by Google) Very good\n\n(Original)...,Very goodMuito boa
74,(Translated by Google) The best\n\n(Original)\...,The bestO melhor
75,(Translated by Google) Very quiet and wonderfu...,Very quiet and wonderful family placeLocal mui...

In [6]:
df["cleaned_text"]

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
                            ...
71    Great food.. cozy placeComida ótima.. lugar ac...
72    Just wonderful. Good price, good restaurant to...
73                                   Very goodMuito boa
74                                     The bestO melhor
75    Very quiet and wonderful family placeLocal mui...
Name: cleaned_text, Length: 76, dtype: object

import pandas as pd
from langdetect import detect

# Assuming you have a DataFrame df with a column named 'cleaned_text'
df = pd.DataFrame({'cleaned_text': df["cleaned_text"]})
    
# Function to detect language
def detect_language(text):
    try:
        lang = detect(text)
        return lang
    except:
        return 'unknown'

# Apply language detection to each row in the 'cleaned_text' column
df['Language'] = df['cleaned_text'].apply(detect_language)

# Separate into different columns based on language
df['English_Text'] = df[df['Language'] == 'en']['cleaned_text']
df['Portuguese_Text'] = df[df['Language'] == 'pt']['cleaned_text']

# Drop the 'Language' column if you no longer need it
df = df.drop(columns=['Language'])

# Display the results
print("DataFrame with English and Portuguese Texts:")
print(df)

df.tail()

In [7]:
pip install langid

Requirement already satisfied: langid in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (1.1.6)
Requirement already satisfied: numpy in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from langid) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import langid

# Assuming you have a DataFrame df with a column named 'cleaned_text'
df = pd.DataFrame({'cleaned_text': df["cleaned_text"]})

# Function to detect language
def detect_language(text):
    try:
        lang, _ = langid.classify(text)
        return lang
    except:
        return 'unknown'

# Apply language detection to each row in the 'cleaned_text' column
df['Language'] = df['cleaned_text'].apply(detect_language)

# Separate into different columns based on language
df['English_Text'] = df[df['Language'] == 'en']['cleaned_text']
df['Portuguese_Text'] = df[df['Language'] == 'pt']['cleaned_text']

# Display the results
print("DataFrame with English and Portuguese Texts:")
print(df)

DataFrame with English and Portuguese Texts:
                                         cleaned_text Language  \
0                                                 NaN  unknown
1                                                 NaN  unknown
2                                                 NaN  unknown
3                                                 NaN  unknown
4                                                 NaN  unknown
..                                                ...      ...
71  Great food.. cozy placeComida ótima.. lugar ac...       pl
72  Just wonderful. Good price, good restaurant to...       pt
73                                 Very goodMuito boa       en
74                                   The bestO melhor       en
75  Very quiet and wonderful family placeLocal mui...       pt

          English_Text                                    Portuguese_Text
0                  NaN                                                NaN
1                  NaN                                                NaN
2                  NaN                                                NaN
3                  NaN                                                NaN
4                  NaN                                                NaN
..                 ...                                                ...
71                 NaN                                                NaN
72                 NaN  Just wonderful. Good price, good restaurant to...
73  Very goodMuito boa                                                NaN
74    The bestO melhor                                                NaN
75                 NaN  Very quiet and wonderful family placeLocal mui...

[76 rows x 4 columns]

In [9]:
df.tail()

,cleaned_text,Language,English_Text,Portuguese_Text
71,Great food.. cozy placeComida ótima.. lugar ac...,pl,NaN,NaN
72,"Just wonderful. Good price, good restaurant to...",pt,NaN,"Just wonderful. Good price, good restaurant to..."
73,Very goodMuito boa,en,Very goodMuito boa,NaN
74,The bestO melhor,en,The bestO melhor,NaN
75,Very quiet and wonderful family placeLocal mui...,pt,NaN,Very quiet and wonderful family placeLocal mui...

In [10]:
# Assuming you have a DataFrame df
df.dropna(subset=['cleaned_text'], inplace=True)

# Display the DataFrame after dropping rows with missing values in 'cleaned_text'
df.head()

,cleaned_text,Language,English_Text,Portuguese_Text
25,Camping with a family atmosphere and good stru...,pt,NaN,Camping with a family atmosphere and good stru...
28,The best camping I've ever been to! Very cool ...,en,The best camping I've ever been to! Very cool ...,NaN
29,Very goodMuito bom,en,Very goodMuito bom,NaN
30,"Excellent service, maximum comfort, reasonable...",pt,NaN,"Excellent service, maximum comfort, reasonable..."
31,"Best infrastructure for campers in the region,...",pt,NaN,"Best infrastructure for campers in the region,..."

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 25 to 75
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cleaned_text     29 non-null     object
 1   Language         29 non-null     object
 2   English_Text     10 non-null     object
 3   Portuguese_Text  9 non-null      object
dtypes: object(4)
memory usage: 1.1+ KB

In [12]:
from textblob import TextBlob

# Assuming you have a DataFrame df with a column named 'cleaned_text'
mixed_language_text = df["cleaned_text"].str.cat(sep=' ')

blob = TextBlob(mixed_language_text)
sentiment = blob.sentiment

print(f"Sentiment: {sentiment.polarity}")

Sentiment: 0.42861475672215105

In [13]:
from textblob import TextBlob

# Assuming you have a DataFrame df with a column named 'cleaned_text'
for index, row in df.iterrows():
    # Check if the value is not NaN
    if not pd.isnull(row['cleaned_text']):
        # Convert the value to a string
        text = str(row['cleaned_text'])
        
        # Perform sentiment analysis
        blob = TextBlob(text)
        sentiment = blob.sentiment
        print(f"Row {index + 1} Sentiment: {sentiment.polarity}")
    else:
        print(f"Row {index + 1} has NaN value in 'cleaned_text'")

Row 26 Sentiment: 0.26875
Row 29 Sentiment: 0.39046875000000003
Row 30 Sentiment: 0.2
Row 31 Sentiment: 0.6
Row 32 Sentiment: 1.0
Row 33 Sentiment: 0.48444444444444446
Row 35 Sentiment: 0.3833333333333333
Row 37 Sentiment: 0.0
Row 38 Sentiment: -0.11875000000000002
Row 39 Sentiment: 0.5
Row 40 Sentiment: 0.75
Row 41 Sentiment: 0.74375
Row 43 Sentiment: 0.6
Row 46 Sentiment: 0.6875
Row 47 Sentiment: 0.9
Row 48 Sentiment: -0.08393939393939395
Row 50 Sentiment: 0.52515625
Row 55 Sentiment: 0.6
Row 62 Sentiment: 0.0
Row 63 Sentiment: 0.7
Row 64 Sentiment: 1.0
Row 65 Sentiment: 0.0
Row 69 Sentiment: 0.9099999999999999
Row 71 Sentiment: 0.39166666666666666
Row 72 Sentiment: 0.30000000000000004
Row 73 Sentiment: 0.7722222222222223
Row 74 Sentiment: 0.2
Row 75 Sentiment: 0.0
Row 76 Sentiment: 0.4583333333333333

In [14]:
import langid
import pandas as pd

# Assuming you have a DataFrame df with a column named 'cleaned_text'

# Function to identify language
def identify_language(text):
    lang, _ = langid.classify(text)
    return lang

# Iterate through every row in the 'cleaned_text' column
for index, row in df.iterrows():
    cleaned_text = row['cleaned_text']
    
    # Check if the value is not NaN
    if not pd.isnull(cleaned_text):
        identified_language = identify_language(cleaned_text)
        print(f"Row {index + 1}: The identified language is: {identified_language}")
    else:
        print(f"Row {index + 1}: 'cleaned_text' is NaN")

Row 26: The identified language is: pt
Row 29: The identified language is: en
Row 30: The identified language is: en
Row 31: The identified language is: pt
Row 32: The identified language is: pt
Row 33: The identified language is: en
Row 35: The identified language is: la
Row 37: The identified language is: rw
Row 38: The identified language is: en
Row 39: The identified language is: en
Row 40: The identified language is: pt
Row 41: The identified language is: la
Row 43: The identified language is: es
Row 46: The identified language is: pt
Row 47: The identified language is: es
Row 48: The identified language is: pt
Row 50: The identified language is: en
Row 55: The identified language is: es
Row 62: The identified language is: gl
Row 63: The identified language is: pt
Row 64: The identified language is: en
Row 65: The identified language is: en
Row 69: The identified language is: br
Row 71: The identified language is: es
Row 72: The identified language is: pl
Row 73: The identified language is: pt
Row 74: The identified language is: en
Row 75: The identified language is: en
Row 76: The identified language is: pt

In [15]:
!pip install googletrans==4.0.0-rc1
!pip install textblob

Requirement already satisfied: googletrans==4.0.0-rc1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: certifi in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2023.7.22)
Requirement already satisfied: hstspreload in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2023.1.1)
Requirement already satisfied: sniffio in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.2.0)
Requirement already satisfied: chardet==3.* in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: idna==2.* in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: h2==3.* in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)
Requirement already satisfied: textblob in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: joblib in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from nltk>=3.1->textblob) (2022.7.9)
Requirement already satisfied: tqdm in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from nltk>=3.1->textblob) (4.65.0)

In [16]:
from googletrans import Translator
from textblob import TextBlob

# Assuming you have a DataFrame df with a column named 'cleaned_text'
translator = Translator()

# Function to translate text
def translate_text(text, target_language='en'):
    translation = translator.translate(text, dest=target_language)
    return translation.text

# Function to perform sentiment analysis
def analyze_sentiment(text):
    blob = TextBlob(text)
    sentiment = blob.sentiment
    return sentiment.polarity

# Iterate through every row in the 'cleaned_text' column
for index, row in df.iterrows():
    cleaned_text = row['cleaned_text']
    
    # Check if the value is not NaN
    if not pd.isnull(cleaned_text):
        # Translate the text to English
        translated_text = translate_text(cleaned_text)
        
        # Perform sentiment analysis on the translated text
        sentiment_score = analyze_sentiment(translated_text)
        print(f"Row {index + 1}: Sentiment Score after Translation: {sentiment_score}")
    else:
        print(f"Row {index + 1}: 'cleaned_text' is NaN")

Row 26: Sentiment Score after Translation: 0.5888888888888889
Row 29: Sentiment Score after Translation: 0.5750000000000001
Row 30: Sentiment Score after Translation: 0.44999999999999996
Row 31: Sentiment Score after Translation: 0.6000000000000001
Row 32: Sentiment Score after Translation: 0.8
Row 33: Sentiment Score after Translation: 0.3844444444444444
Row 35: Sentiment Score after Translation: 0.6333333333333333
Row 37: Sentiment Score after Translation: 1.0
Row 38: Sentiment Score after Translation: 0.0
Row 39: Sentiment Score after Translation: 0.5
Row 40: Sentiment Score after Translation: 0.7333333333333334
Row 41: Sentiment Score after Translation: 0.4291666666666667
Row 43: Sentiment Score after Translation: 0.4
Row 46: Sentiment Score after Translation: 1.0
Row 47: Sentiment Score after Translation: 0.9
Row 48: Sentiment Score after Translation: 0.04586776859504133
Row 50: Sentiment Score after Translation: 0.4701785714285714
Row 55: Sentiment Score after Translation: 0.6
Row 62: Sentiment Score after Translation: 0.8
Row 63: Sentiment Score after Translation: 0.4666666666666666
Row 64: Sentiment Score after Translation: 0.0
Row 65: Sentiment Score after Translation: 0.0
Row 69: Sentiment Score after Translation: 0.9099999999999999
Row 71: Sentiment Score after Translation: 0.0
Row 72: Sentiment Score after Translation: 0.30000000000000004
Row 73: Sentiment Score after Translation: 0.7
Row 74: Sentiment Score after Translation: 0.5
Row 75: Sentiment Score after Translation: 0.5
Row 76: Sentiment Score after Translation: 0.475

In [17]:
from googletrans import Translator
from textblob import TextBlob
import pandas as pd

# Assuming you have a DataFrame df with a column named 'cleaned_text'
translator = Translator()

# Function to translate text
def translate_text(text, target_language='en'):
    translation = translator.translate(text, dest=target_language)
    return translation.text

# Function to perform sentiment analysis
def analyze_sentiment(text):
    blob = TextBlob(text)
    sentiment = blob.sentiment
    return sentiment.polarity

# Add a new column 'Translated_Text' to the DataFrame
df['Translated_Text'] = df['cleaned_text'].apply(translate_text)

# Add a new column 'Sentiment_Score' to the DataFrame
df['Sentiment_Score'] = df['Translated_Text'].apply(analyze_sentiment)

# Display the tail of the DataFrame
print("\nTail of the DataFrame:")
print(df.tail())

Tail of the DataFrame:
                                         cleaned_text Language  \
71  Great food.. cozy placeComida ótima.. lugar ac...       pl
72  Just wonderful. Good price, good restaurant to...       pt
73                                 Very goodMuito boa       en
74                                   The bestO melhor       en
75  Very quiet and wonderful family placeLocal mui...       pt

          English_Text                                    Portuguese_Text  \
71                 NaN                                                NaN
72                 NaN  Just wonderful. Good price, good restaurant to...
73  Very goodMuito boa                                                NaN
74    The bestO melhor                                                NaN
75                 NaN  Very quiet and wonderful family placeLocal mui...

                                      Translated_Text  Sentiment_Score
71  Great food .. cozy placecomed great .. cozy place            0.300
72  Just Wonderful.Good price, good restaurant too...            0.700
73                                  Very Goodmo Great            0.500
74                                   THE BESTO BETTER            0.500
75  Very Quiet and Wonderful Family Placelocal ver...            0.475

In [18]:
from googletrans import Translator
import pandas as pd

# Assuming you have a DataFrame df with a column named 'cleaned_text'
translator = Translator()

# Function to translate text
def translate_text(text, target_language='en'):
    translation = translator.translate(text, dest=target_language)
    return translation.text

# Add a new column 'Translated_Text' to the DataFrame
df['Translated_Text'] = df['cleaned_text'].apply(translate_text)

# Display the tail of the DataFrame
print("\nTail of the DataFrame with Translated_Text:")
print(df.tail())

Tail of the DataFrame with Translated_Text:
                                         cleaned_text Language  \
71  Great food.. cozy placeComida ótima.. lugar ac...       pl
72  Just wonderful. Good price, good restaurant to...       pt
73                                 Very goodMuito boa       en
74                                   The bestO melhor       en
75  Very quiet and wonderful family placeLocal mui...       pt

          English_Text                                    Portuguese_Text  \
71                 NaN                                                NaN
72                 NaN  Just wonderful. Good price, good restaurant to...
73  Very goodMuito boa                                                NaN
74    The bestO melhor                                                NaN
75                 NaN  Very quiet and wonderful family placeLocal mui...

                                      Translated_Text  Sentiment_Score
71  Great food .. cozy placecomed great .. cozy place            0.300
72  Just Wonderful.Good price, good restaurant too...            0.700
73                                  Very Goodmo Great            0.500
74                                   THE BESTO BETTER            0.500
75  Very Quiet and Wonderful Family Placelocal ver...            0.475

In [19]:
df.tail()

,cleaned_text,Language,English_Text,Portuguese_Text,Translated_Text,Sentiment_Score
71,Great food.. cozy placeComida ótima.. lugar ac...,pl,NaN,NaN,Great food .. cozy placecomed great .. cozy place,0.300
72,"Just wonderful. Good price, good restaurant to...",pt,NaN,"Just wonderful. Good price, good restaurant to...","Just Wonderful.Good price, good restaurant too...",0.700
73,Very goodMuito boa,en,Very goodMuito boa,NaN,Very Goodmo Great,0.500
74,The bestO melhor,en,The bestO melhor,NaN,THE BESTO BETTER,0.500
75,Very quiet and wonderful family placeLocal mui...,pt,NaN,Very quiet and wonderful family placeLocal mui...,Very Quiet and Wonderful Family Placelocal ver...,0.475

from googletrans import Translator
import pandas as pd

# Assuming you have a DataFrame df with a column named 'cleaned_text'
translator = Translator()

# Function to translate text
def translate_text(text, target_language='pt'):
    translation = translator.translate(text, dest=target_language)
    return translation.text

# Add a new column 'Translated_Text' to the DataFrame
df['Translated_Text2'] = df['cleaned_text'].apply(translate_text)

# Display the tail of the DataFrame
#print("\nTail of the DataFrame with Translated_Text:")
df.tail()

from googletrans import Translator
import pandas as pd

# Assuming you have a DataFrame df with a column named 'cleaned_text'
translator = Translator()

# Function to translate text to Portuguese
def translate_text_to_portuguese(text, target_language='pt'):
    translation = translator.translate(text, dest=target_language)
    return translation.text

# Add a new column 'Translated_Text' to the DataFrame
df['Translated_Text2'] = df['cleaned_text'].apply(translate_text_to_portuguese)

# Display the tail of the DataFrame
#print("\nTail of the DataFrame with Translated_Text:")
df.tail()

from googletrans import Translator
import pandas as pd

# Assuming you have a DataFrame df with a column named 'cleaned_text'
translator = Translator()

# Function to translate text to Portuguese
def translate_text_to_portuguese(text, target_language='pt'):
    translation = translator.translate(text, dest=target_language)
    return translation.text

# Add a new column 'Translated_Text' to the DataFrame
df['Translated_P'] = df['cleaned_text'].apply(translate_text_to_portuguese)

# Display the tail of the DataFrame
#print("\nTail of the DataFrame with Translated_Text:")
df.tail()

In [20]:
pip install translate

Requirement already satisfied: translate in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (3.6.1)
Requirement already satisfied: click in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from translate) (8.0.4)
Requirement already satisfied: lxml in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from translate) (4.9.3)
Requirement already satisfied: requests in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from translate) (2.31.0)
Requirement already satisfied: libretranslatepy==2.1.1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from translate) (2.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from requests->translate) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from requests->translate) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from requests->translate) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from requests->translate) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [21]:
from translate import Translator
import pandas as pd

# Assuming you have a DataFrame df with a column named 'cleaned_text'
translator = Translator(to_lang='pt')

# Function to translate text to Portuguese
def translate_text_to_portuguese(text):
    translation = translator.translate(text)
    return translation

# Add a new column 'Translated_Text' to the DataFrame
df['Translated_P1'] = df['cleaned_text'].apply(translate_text_to_portuguese)

# Display the tail of the DataFrame
#print("\nTail of the DataFrame with Translated_Text:")
df.tail()

,cleaned_text,Language,English_Text,Portuguese_Text,Translated_Text,Sentiment_Score,Translated_P1
71,Great food.. cozy placeComida ótima.. lugar ac...,pl,NaN,NaN,Great food .. cozy placecomed great .. cozy place,0.300,Ótima comida.. lugar aconcheganteComida ótima....
72,"Just wonderful. Good price, good restaurant to...",pt,NaN,"Just wonderful. Good price, good restaurant to...","Just Wonderful.Good price, good restaurant too...",0.700,"Simplesmente maravilhoso. Bom preço, bom resta..."
73,Very goodMuito boa,en,Very goodMuito boa,NaN,Very Goodmo Great,0.500,Muito bomMuito boa
74,The bestO melhor,en,The bestO melhor,NaN,THE BESTO BETTER,0.500,O melhorO melhor
75,Very quiet and wonderful family placeLocal mui...,pt,NaN,Very quiet and wonderful family placeLocal mui...,Very Quiet and Wonderful Family Placelocal ver...,0.475,Lugar de família muito tranquilo e maravilhoso...