In [1]:
import json
import pandas as pd
import glob

# Specify the path to the directory containing your JSON files
json_files_path = '/Users/izaiaszacca/Documents/Reviews/*.json'
#/Users/izaiaszacca/Documents/Reviews
#/Users/izaiaszacca/Documents/Reviews/GoogleReviews json

# Create an empty list to store DataFrames
dfs = []

# Iterate over each JSON file in the specified directory
for json_file_path in glob.glob(json_files_path):
    with open(json_file_path, 'r') as file:
        data = json.load(file)

    # Convert the JSON data to a Pandas DataFrame
    df = pd.DataFrame(data)

    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Specify the path for the combined CSV file
csv_output_path = '/Users/izaiaszacca/Documents/Reviews/gr.csv'

# Save the combined DataFrame to a CSV file
combined_df.to_csv(csv_output_path, index=False)

print(f'Combined data has been saved to {csv_output_path}')

Combined data has been saved to /Users/izaiaszacca/Documents/Reviews/gr.csv

In [2]:
import pandas as pd

gr = pd.read_csv("gr.csv")

gr.head()

                                             reviews
0  {'reviewer': {'displayName': 'Alessandro Filip...
1  {'reviewer': {'displayName': 'Rilvana Pinheiro...
2  {'reviewer': {'displayName': 'Renata Vallerio'...
3  {'reviewer': {'displayName': 'Luis Fernando'},...
4  {'reviewer': {'displayName': 'Ana Paula Beltrã...

In [3]:
gr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  60 non-null     object
dtypes: object(1)
memory usage: 612.0+ bytes

In [6]:
import pandas as pd
import json

# Specify the path to your CSV file
csv_file_path = '/Users/izaiaszacca/Documents/Reviews/gr.csv'

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(csv_file_path)

# Define a function to extract information from the JSON strings
def extract_info(json_string, key):
    try:
        # Convert the JSON string to a dictionary
        data = json.loads(json_string)
        # Return the value associated with the specified key
        return data.get(key, '')
    except json.JSONDecodeError:
        # Handle the case where the JSON decoding fails
        return ''

# Specify the key(s) you want to extract from the JSON strings
# Example: extracting 'displayName' and 'starRating'
keys_to_extract = ['reviewer.displayName', 'starRating']

# Create new columns for each key
for key in keys_to_extract:
    # Extract information using the defined function
    df[key.replace('.', '_')] = df['reviews'].apply(lambda x: extract_info(x, key))

# Display the resulting DataFrame
print(df)

                                              reviews reviewer_displayName  \
0   {'reviewer': {'displayName': 'Alessandro Filip...
1   {'reviewer': {'displayName': 'Rilvana Pinheiro...
2   {'reviewer': {'displayName': 'Renata Vallerio'...
3   {'reviewer': {'displayName': 'Luis Fernando'},...
4   {'reviewer': {'displayName': 'Ana Paula Beltrã...
5   {'reviewer': {'displayName': 'Ricardo Costa'},...
6   {'reviewer': {'displayName': 'Marcio Oliveira'...
7   {'reviewer': {'displayName': 'Ivanilda Lorena'...
8   {'reviewer': {'displayName': 'Elaine Araujo'},...
9   {'reviewer': {'displayName': 'Edson Ogata'}, '...
10  {'reviewer': {'displayName': 'Paulo Thunder'},...
11  {'reviewer': {'displayName': 'Gui e rafa Filio...
12  {'reviewer': {'displayName': 'Dayana Godeguesi...
13  {'reviewer': {'displayName': 'Gabriel Souza Br...
14  {'reviewer': {'displayName': 'Carol Severian'}...
15  {'reviewer': {'displayName': 'Silverio Cavalli...
16  {'reviewer': {'displayName': 'Cristina Affonso...
17  {'reviewer': {'displayName': 'Jacky Feitoza'},...
18  {'reviewer': {'displayName': 'Walter Augusto B...
19  {'reviewer': {'displayName': 'Pedro Antonio Fi...
20  {'reviewer': {'displayName': 'lucio nunes'}, '...
21  {'reviewer': {'displayName': 'Felipe Souza'}, ...
22  {'reviewer': {'displayName': 'Denis André Dell...
23  {'reviewer': {'displayName': 'Henrique Schrode...
24  {'reviewer': {'displayName': 'Raphaela Barzon'...
25  {'reviewer': {'displayName': 'Wolle B'}, 'star...
26  {'reviewer': {'displayName': 'Fabio Cunha'}, '...
27  {'reviewer': {'displayName': 'Beatriz Machado ...
28  {'reviewer': {'displayName': 'Glaucia Oliveira...
29  {'reviewer': {'displayName': 'Jorge de Souza'}...
30  {'reviewer': {'displayName': 'Paulo Bertinelli...
31  {'reviewer': {'displayName': 'Renata Sol S'}, ...
32  {'reviewer': {'displayName': 'Paulo Sérgio Fra...
33  {'reviewer': {'displayName': 'Elaina Fanchini'...
34  {'reviewer': {'displayName': 'Gabriela Branco'...
35  {'reviewer': {'displayName': 'Sarah Velloso'},...
36  {'reviewer': {'displayName': 'Fernanda Jimenez...
37  {'reviewer': {'displayName': 'Alexandre Amarel...
38  {'reviewer': {'displayName': 'Danilo Barão'}, ...
39  {'reviewer': {'displayName': 'josias marciano ...
40  {'reviewer': {'displayName': 'Érica Teixeira'}...
41  {'reviewer': {'displayName': 'Fernando Posso'}...
42  {'reviewer': {'displayName': 'michele silva'},...
43  {'reviewer': {'displayName': 'Ana Carolina Cor...
44  {'reviewer': {'displayName': 'Mariana Meneguim...
45  {'reviewer': {'displayName': 'Ricardo Gonçalve...
46  {'reviewer': {'displayName': 'Giovanna Correia...
47  {'reviewer': {'displayName': 'Verenice Oliveir...
48  {'reviewer': {'displayName': 'Isaque Mauro'}, ...
49  {'reviewer': {'displayName': 'Mel Carlota'}, '...
50  {'reviewer': {'displayName': 'Fabiano Salermo ...
51  {'reviewer': {'displayName': 'Elton Rafael'}, ...
52  {'reviewer': {'displayName': 'Fernando Oliveir...
53  {'reviewer': {'displayName': 'Paulo Sousa'}, '...
54  {'reviewer': {'displayName': 'Andréia Coelho'}...
55  {'reviewer': {'displayName': 'Matheus SB'}, 's...
56  {'reviewer': {'displayName': 'Eliezer Monteiro...
57  {'reviewer': {'displayName': 'Lucas Gasparini'...
58  {'reviewer': {'displayName': 'wagner diniz'}, ...
59  {'reviewer': {'displayName': 'Paulo Sergio Cos...

   starRating
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [8]:
df.head(50)

,reviews,reviewer_displayName,starRating
0,{'reviewer': {'displayName': 'Alessandro Filip...,,
1,{'reviewer': {'displayName': 'Rilvana Pinheiro...,,
2,{'reviewer': {'displayName': 'Renata Vallerio'...,,
3,"{'reviewer': {'displayName': 'Luis Fernando'},...",,
4,{'reviewer': {'displayName': 'Ana Paula Beltrã...,,
5,"{'reviewer': {'displayName': 'Ricardo Costa'},...",,
6,{'reviewer': {'displayName': 'Marcio Oliveira'...,,
7,{'reviewer': {'displayName': 'Ivanilda Lorena'...,,
8,"{'reviewer': {'displayName': 'Elaine Araujo'},...",,
9,"{'reviewer': {'displayName': 'Edson Ogata'}, '...",,
10,"{'reviewer': {'displayName': 'Paulo Thunder'},...",,
11,{'reviewer': {'displayName': 'Gui e rafa Filio...,,
12,{'reviewer': {'displayName': 'Dayana Godeguesi...,,
13,{'reviewer': {'displayName': 'Gabriel Souza Br...,,
14,{'reviewer': {'displayName': 'Carol Severian'}...,,
15,{'reviewer': {'displayName': 'Silverio Cavalli...,,
16,{'reviewer': {'displayName': 'Cristina Affonso...,,
17,"{'reviewer': {'displayName': 'Jacky Feitoza'},...",,
18,{'reviewer': {'displayName': 'Walter Augusto B...,,
19,{'reviewer': {'displayName': 'Pedro Antonio Fi...,,
20,"{'reviewer': {'displayName': 'lucio nunes'}, '...",,
21,"{'reviewer': {'displayName': 'Felipe Souza'}, ...",,
22,{'reviewer': {'displayName': 'Denis André Dell...,,
23,{'reviewer': {'displayName': 'Henrique Schrode...,,
24,{'reviewer': {'displayName': 'Raphaela Barzon'...,,
25,"{'reviewer': {'displayName': 'Wolle B'}, 'star...",,
26,"{'reviewer': {'displayName': 'Fabio Cunha'}, '...",,
27,{'reviewer': {'displayName': 'Beatriz Machado ...,,
28,{'reviewer': {'displayName': 'Glaucia Oliveira...,,
29,{'reviewer': {'displayName': 'Jorge de Souza'}...,,
30,{'reviewer': {'displayName': 'Paulo Bertinelli...,,
31,"{'reviewer': {'displayName': 'Renata Sol S'}, ...",,
32,{'reviewer': {'displayName': 'Paulo Sérgio Fra...,,
33,{'reviewer': {'displayName': 'Elaina Fanchini'...,,
34,{'reviewer': {'displayName': 'Gabriela Branco'...,,
35,"{'reviewer': {'displayName': 'Sarah Velloso'},...",,
36,{'reviewer': {'displayName': 'Fernanda Jimenez...,,
37,{'reviewer': {'displayName': 'Alexandre Amarel...,,
38,"{'reviewer': {'displayName': 'Danilo Barão'}, ...",,
39,{'reviewer': {'displayName': 'josias marciano ...,,
40,{'reviewer': {'displayName': 'Érica Teixeira'}...,,
41,{'reviewer': {'displayName': 'Fernando Posso'}...,,
42,"{'reviewer': {'displayName': 'michele silva'},...",,
43,{'reviewer': {'displayName': 'Ana Carolina Cor...,,
44,{'reviewer': {'displayName': 'Mariana Meneguim...,,
45,{'reviewer': {'displayName': 'Ricardo Gonçalve...,,
46,{'reviewer': {'displayName': 'Giovanna Correia...,,
47,{'reviewer': {'displayName': 'Verenice Oliveir...,,
48,"{'reviewer': {'displayName': 'Isaque Mauro'}, ...",,
49,"{'reviewer': {'displayName': 'Mel Carlota'}, '...",,

# THIS CODE WAS THE ONLY ONE THAT WORKED
Unfortunately I will have to do all the strings

import pandas as pd
import json


json_string = 


data = json.loads(json_string)


df = pd.DataFrame([data])


df['displayName'] = df['reviewer'].apply(lambda x: x['displayName'])
df['starRating'] = df['starRating']
df['comment'] = df['comment']
df['createTime'] = df['createTime']
df['updateTime'] = df['updateTime']
df['reviewer_name'] = df['reviewer'].apply(lambda x: x['displayName'])
df['review_id'] = df['name'].apply(lambda x: x.split('/')[-1])


print(df)

import pandas as pd
import json

# Your corrected JSON string with double quotes
json_string = '{"reviewer": {"displayName": "Cássio Trajano"}, "starRating": "FIVE", "comment": "(Translated by Google) I\'m there every beginning of the year I highly recommend the chalets food entertainment a wide variety.\\n\\n(Original)\\nEstou lá todo começo de ano super recomendo chalés comidas entretenimento uma grande variedade.", "createTime": "2019-01-29T16:49:28.556676Z", "updateTime": "2019-01-29T16:49:28.556676Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJdjktNTN3RRAB"}'

# Convert JSON string to dictionary
data = json.loads(json_string)

# Create a DataFrame
df = pd.DataFrame([data])

# Access elements and create new columns
df['displayName'] = df['reviewer'].apply(lambda x: x['displayName'])
df['starRating'] = df['starRating']
df['comment'] = df['comment']
df['createTime'] = df['createTime']
df['updateTime'] = df['updateTime']
df['reviewer_name'] = df['reviewer'].apply(lambda x: x['displayName'])
df['review_id'] = df['name'].apply(lambda x: x.split('/')[-1])

# Display the resulting DataFrame
print(df)

In [25]:
import pandas as pd
import json

# Your corrected JSON string with double quotes
json_string = '''{
  "reviews": [
    {
      "reviewer": {
        "displayName": "Érica Teixeira"
      },
      "starRating": "FOUR",
      "createTime": "2018-03-11T12:26:43.805Z",
      "updateTime": "2018-03-11T12:26:43.805Z",
      "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNZaU1LUGxnRRAB"
    },
    {
      "reviewer": {
        "displayName": "Fernando Posso"
      },
      "starRating": "FIVE",
      "createTime": "2018-03-11T11:55:40.211Z",
      "updateTime": "2018-03-11T11:55:40.211Z",
      "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNZaVBxV0FnEAE"
    },
    {
      "reviewer": {
        "displayName": "michele silva"
      },
      "starRating": "FOUR",
      "createTime": "2018-03-10T20:38:03.083Z",
      "updateTime": "2018-03-10T20:38:03.083Z",
      "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURRdC1IUDlBRRAB"
    },
    {
      "reviewer": {
        "displayName": "Ana Carolina Cordeiro"
      },
      "starRating": "FOUR",
      "createTime": "2018-03-10T11:45:18.264Z",
      "updateTime": "2018-03-10T11:45:18.264Z",
      "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUN3aGEzY2JnEAE"
    },
    {
      "reviewer": {
        "displayName": "Mariana Meneguim Wonraht"
      },
      "starRating": "FOUR",
      "createTime": "2018-03-10T10:55:28.512Z",
      "updateTime": "2018-03-10T10:55:28.512Z",
      "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNnaDZHcTZRRRAB"
    }
  ]
}'''

# Convert JSON string to dictionary
data = json.loads(json_string)

# Create a DataFrame
df = pd.DataFrame(data['reviews'])

# Display the resulting DataFrame
print(df)

                                      reviewer starRating  \
0            {'displayName': 'Érica Teixeira'}       FOUR
1            {'displayName': 'Fernando Posso'}       FIVE
2             {'displayName': 'michele silva'}       FOUR
3     {'displayName': 'Ana Carolina Cordeiro'}       FOUR
4  {'displayName': 'Mariana Meneguim Wonraht'}       FOUR

                 createTime                updateTime  \
0  2018-03-11T12:26:43.805Z  2018-03-11T12:26:43.805Z
1  2018-03-11T11:55:40.211Z  2018-03-11T11:55:40.211Z
2  2018-03-10T20:38:03.083Z  2018-03-10T20:38:03.083Z
3  2018-03-10T11:45:18.264Z  2018-03-10T11:45:18.264Z
4  2018-03-10T10:55:28.512Z  2018-03-10T10:55:28.512Z

                                                name
0  accounts/113838515205835963900/locations/41527...
1  accounts/113838515205835963900/locations/41527...
2  accounts/113838515205835963900/locations/41527...
3  accounts/113838515205835963900/locations/41527...
4  accounts/113838515205835963900/locations/41527...

In [26]:
df.head()

,reviewer,starRating,createTime,updateTime,name
0,{'displayName': 'Érica Teixeira'},FOUR,2018-03-11T12:26:43.805Z,2018-03-11T12:26:43.805Z,accounts/113838515205835963900/locations/41527...
1,{'displayName': 'Fernando Posso'},FIVE,2018-03-11T11:55:40.211Z,2018-03-11T11:55:40.211Z,accounts/113838515205835963900/locations/41527...
2,{'displayName': 'michele silva'},FOUR,2018-03-10T20:38:03.083Z,2018-03-10T20:38:03.083Z,accounts/113838515205835963900/locations/41527...
3,{'displayName': 'Ana Carolina Cordeiro'},FOUR,2018-03-10T11:45:18.264Z,2018-03-10T11:45:18.264Z,accounts/113838515205835963900/locations/41527...
4,{'displayName': 'Mariana Meneguim Wonraht'},FOUR,2018-03-10T10:55:28.512Z,2018-03-10T10:55:28.512Z,accounts/113838515205835963900/locations/41527...

In [31]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    '{"reviewer": {"displayName": "Alessandro Filipe (Alê)"}, "starRating": "FIVE", "comment": "(Translated by Google) Camping is pretty cool\\n\\n(Original)\\nO camping é bem legal", "createTime": "2017-08-02T01:33:16.793Z", "updateTime": "2017-08-02T01:33:16.793Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURRekxMMFhnEAE"}',
    '{"reviewer": {"displayName": "Rilvana Pinheiro"}, "starRating": "FIVE", "comment": "(Translated by Google) Wonderful place to spend a day with the family, maintained, organized, pleasant, clean environment\\n\\n(Original)\\nLugar maravilhoso para passar um dia em família, conservado, organizado, agradável, ambiente limpo", "createTime": "2017-07-31T22:03:13.250Z", "updateTime": "2017-07-31T22:03:13.250Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNBMXBEOURnEAE"}',
    '{"reviewer": {"displayName": "Renata Vallerio"}, "starRating": "FOUR", "comment": "Ok", "createTime": "2017-07-30T20:02:42.772Z", "updateTime": "2017-07-30T20:02:42.772Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURBb3NHM25BRRAB"}',
    '{"reviewer": {"displayName": "Luis Fernando"}, "starRating": "FIVE", "comment": "(Translated by Google) Wonderful space and experience with nature\\n\\n(Original)\\nMaravilhoso espaço e vivência com a natureza", "createTime": "2017-07-29T11:41:13.472Z", "updateTime": "2017-07-29T11:41:40.938Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURnMzc2a2t3RRAB"}',
    '{"reviewer": {"displayName": "Ana Paula Beltrão Machado"}, "starRating": "FIVE", "comment": "(Translated by Google) It\'s great for taking children, it has water slides, a heated pool, sauna, snack bar, and is a great structure for camping and chalets.\\n\\n(Original)\\nÉ ótimo para levar as crianças, tem toboáguas, piscina aquecida, sauna, lanchonete, é ótima estrutura para camping e chalés.", "createTime": "2017-07-29T03:58:47.007Z", "updateTime": "2017-07-29T04:00:17.528Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNRbUpXbUx3EAE"}',
    '{"reviewer": {"displayName": "Ricardo Costa"}, "starRating": "FIVE", "comment": "(Translated by Google) Beautiful place, very familiar, quiet\\n\\n(Original)\\nLindo lugar, bem familiar, tranquilo", "createTime": "2017-07-28T22:03:55.945Z", "updateTime": "2017-07-28T22:03:55.945Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURBbUxTaDFBRRAB"}',
    '{"reviewer": {"displayName": "Marcio Oliveira"}, "starRating": "FIVE", "comment": "(Translated by Google) Very complete structure for camping with tents or staying in chalets. The heated pool is delightful.\\n\\n(Original)\\nEstrutura muito completa para acampar com barracas ou Tb ficar em chalés. A piscina aquecida é uma delícia.", "createTime": "2017-07-28T22:03:07.941Z", "updateTime": "2017-07-28T22:03:07.941Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUN3MEo2Q25RRRAB"}',
    '{"reviewer": {"displayName": "Ivanilda Lorena"}, "starRating": "FIVE", "createTime": "2017-07-26T23:37:29.333Z", "updateTime": "2017-07-26T23:37:29.333Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURBdnI2Tk5nEAE"}',
    '{"reviewer": {"displayName": "Elaine Araujo"}, "starRating": "FIVE", "comment": "(Translated by Google) Full of attractions for children, even in winter as the campsite has a heated pool, dry sauna and steam room. A very pleasant place to take the family and have contact with nature.\\n\\n(Original)\\nCheio de atrações para as crianças, mesmo no inverno pois o camping possui piscina aquecida, sauna seca é a vapor.", "createTime": "2017-07-25T13:45:20.384Z", "updateTime": "2017-07-25T13:47:11.885Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNBd1o2anZBRRAB"}'
]

# Create an empty list
# Convert JSON string to dictionary
data = json.loads(json_string)

# Create a DataFrame
df2 = pd.DataFrame(data['reviews'])

# Display the resulting DataFrame
print(df2)

                                      reviewer starRating  \
0            {'displayName': 'Érica Teixeira'}       FOUR
1            {'displayName': 'Fernando Posso'}       FIVE
2             {'displayName': 'michele silva'}       FOUR
3     {'displayName': 'Ana Carolina Cordeiro'}       FOUR
4  {'displayName': 'Mariana Meneguim Wonraht'}       FOUR

                 createTime                updateTime  \
0  2018-03-11T12:26:43.805Z  2018-03-11T12:26:43.805Z
1  2018-03-11T11:55:40.211Z  2018-03-11T11:55:40.211Z
2  2018-03-10T20:38:03.083Z  2018-03-10T20:38:03.083Z
3  2018-03-10T11:45:18.264Z  2018-03-10T11:45:18.264Z
4  2018-03-10T10:55:28.512Z  2018-03-10T10:55:28.512Z

                                                name
0  accounts/113838515205835963900/locations/41527...
1  accounts/113838515205835963900/locations/41527...
2  accounts/113838515205835963900/locations/41527...
3  accounts/113838515205835963900/locations/41527...
4  accounts/113838515205835963900/locations/41527...

In [32]:
df2.head()

,reviewer,starRating,createTime,updateTime,name
0,{'displayName': 'Érica Teixeira'},FOUR,2018-03-11T12:26:43.805Z,2018-03-11T12:26:43.805Z,accounts/113838515205835963900/locations/41527...
1,{'displayName': 'Fernando Posso'},FIVE,2018-03-11T11:55:40.211Z,2018-03-11T11:55:40.211Z,accounts/113838515205835963900/locations/41527...
2,{'displayName': 'michele silva'},FOUR,2018-03-10T20:38:03.083Z,2018-03-10T20:38:03.083Z,accounts/113838515205835963900/locations/41527...
3,{'displayName': 'Ana Carolina Cordeiro'},FOUR,2018-03-10T11:45:18.264Z,2018-03-10T11:45:18.264Z,accounts/113838515205835963900/locations/41527...
4,{'displayName': 'Mariana Meneguim Wonraht'},FOUR,2018-03-10T10:55:28.512Z,2018-03-10T10:55:28.512Z,accounts/113838515205835963900/locations/41527...

In [37]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    '{"reviewer": {"displayName": "Edson Ogata"}, "starRating": "FOUR", "comment": "(Translated by Google) Camping with a family atmosphere and good structure, with swimming pools and courts. Grassy camping area with structure for washing dishes. Simple bathrooms but are cleaned daily. It also has cottages.\\n\\n(Original)\\nCamping com ambiente familiar e boa estrutura, possuindo piscinas e quadras. Área de acampamento gramada e com estrutura para lavar pratos. Banheiros simples porém são limpos diariamente. Também possui chalés.", "createTime": "2017-05-26T22:07:31.680Z", "updateTime": "2017-07-23T04:21:41.602Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNRajZ2WTlRRRAB"}',
    '{"reviewer": {"displayName": "Paulo Thunder"}, "starRating": "FIVE", "createTime": "2017-07-21T05:55:14.115Z", "updateTime": "2017-07-21T05:55:14.115Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNRNWFfUVJ3EAE"}',
    '{"reviewer": {"displayName": "Gui e rafa Filios"}, "starRating": "FOUR", "createTime": "2017-07-18T21:06:30.581Z", "updateTime": "2017-07-18T21:06:30.581Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNnOTlyNEV3EAE"}',
    '{"reviewer": {"displayName": "Dayana Godeguesi Ayres"}, "starRating": "FIVE", "comment": "(Translated by Google) The best camping I\'ve ever been to! Very cool structure in a family and fun environment. I recommend it to everyone! Super close to the city center. I\'ve been going there for years!\\n\\n(Original)\\nO melhor camping que já fui! Estrutura muito legal em um ambiente familiar e divertido. Recomendo a todos! Super perto do centro da cidade. Já frequento a anos!", "createTime": "2017-07-17T23:33:34.267Z", "updateTime": "2017-07-17T23:33:34.267Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURBdjVTMF93RRAB"}',
    '{"reviewer": {"displayName": "Gabriel Souza Brito da Silva"}, "starRating": "FIVE", "comment": "(Translated by Google) Very good\\n\\n(Original)\\nMuito bom", "createTime": "2017-07-15T21:37:44.486Z", "updateTime": "2017-07-15T21:37:44.486Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURRbHNyZXlRRRAB"}',
    '{"reviewer": {"displayName": "Carol Severian"}, "starRating": "FIVE", "comment": "(Translated by Google) Excellent service, maximum comfort, reasonable price.\\n\\n(Original)\\nAtendimento excelente, máximo conforto, preço razoável.", "createTime": "2017-07-14T21:32:45.424Z", "updateTime": "2017-07-14T21:32:45.424Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNndF9qeXR3RRAB"}',
    '{"reviewer": {"displayName": "Silverio Cavalli junior"}, "starRating": "FIVE", "comment": "(Translated by Google) Best infrastructure for campers in the region, it also has rooms and a restaurant\\n\\n(Original)\\nMelhor infra pro campista da região, além disso tem aptos e restaurante", "createTime": "2017-07-14T18:17:45.876Z", "updateTime": "2017-07-14T18:18:29.689Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURBMllMRGFREAE"}',
    '{"reviewer": {"displayName": "Cristina Affonso"}, "starRating": "FIVE", "comment": "(Translated by Google) Very family place. Always very pleasant and understanding service. Calm place. Breakfast and lunch made with quality and lots of affection. Every detail is thought out for the visitor. Control of the number of people per day guarantees peace of mind. I have already used the camping and this time in the chalet. I keep coming back.\\n\\n(Original)\\nLugar muito família. Atendimento sempre muito agradável e compreensivo. Lugar calma. Café da manhã e almoço feitos c qualidade e muito carinho. Cada detalhe é pensado p o visitante. Controle de quantidade de pessoas por dia garante o sossego. Já usei o camping e dessa vez no chalé. Continuo sempre a voltar.", "createTime": "2017-07-12T12:34:56.343Z", "updateTime": "2017-07-12T12:39:10.125Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNBcEsyTmtRRRAB"}',
    '{"reviewer": {"displayName": "Jacky Feitoza"}, "starRating": "FOUR", "createTime": "2017-07-10T07:22:13.565Z", "updateTime": "2017-07-10T07:22:17.361Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNnazQ2aWF3EAE"}',
    '{"reviewer": {"displayName": "Walter Augusto Benatti"}, "starRating": "FIVE", "comment": "(Translated by Google) Great place to camp, or stay in great cabins with family or friends. Place with restaurant and good structure next to nature.\\n\\n(Original)\\nÓtimo local para acampar, ou ficar em ótimos chalés com a família ou amigos. Local com restaurante e boa estrutura junto a natureza.", "createTime": "2017-07-09T17:55:46.588Z", "updateTime": "2017-07-09T17:56:52.874Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURBamFiX1lREAE"}'
]

# Convert JSON strings to dictionaries and create a DataFrame
df3 = pd.DataFrame([json.loads(json_string) for json_string in json_strings])

# Access elements and create new columns
df3['displayName'] = df3['reviewer'].apply(lambda x: x['displayName'])
df3['starRating'] = df3['starRating']
df3['comment'] = df3['comment']
df3['createTime'] = df3['createTime']
df3['updateTime'] = df3['updateTime']
df3['reviewer_name'] = df3['reviewer'].apply(lambda x: x['displayName'])
df3['review_id'] = df3['name'].apply(lambda x: x.split('/')[-1])

# Display the resulting DataFrame
print(df3)

                                          reviewer starRating  \
0                   {'displayName': 'Edson Ogata'}       FOUR
1                 {'displayName': 'Paulo Thunder'}       FIVE
2             {'displayName': 'Gui e rafa Filios'}       FOUR
3        {'displayName': 'Dayana Godeguesi Ayres'}       FIVE
4  {'displayName': 'Gabriel Souza Brito da Silva'}       FIVE
5                {'displayName': 'Carol Severian'}       FIVE
6       {'displayName': 'Silverio Cavalli junior'}       FIVE
7              {'displayName': 'Cristina Affonso'}       FIVE
8                 {'displayName': 'Jacky Feitoza'}       FOUR
9        {'displayName': 'Walter Augusto Benatti'}       FIVE

                                             comment  \
0  (Translated by Google) Camping with a family a...
1                                                NaN
2                                                NaN
3  (Translated by Google) The best camping I've e...
4  (Translated by Google) Very good\n\n(Original)...
5  (Translated by Google) Excellent service, maxi...
6  (Translated by Google) Best infrastructure for...
7  (Translated by Google) Very family place. Alwa...
8                                                NaN
9  (Translated by Google) Great place to camp, or...

                 createTime                updateTime  \
0  2017-05-26T22:07:31.680Z  2017-07-23T04:21:41.602Z
1  2017-07-21T05:55:14.115Z  2017-07-21T05:55:14.115Z
2  2017-07-18T21:06:30.581Z  2017-07-18T21:06:30.581Z
3  2017-07-17T23:33:34.267Z  2017-07-17T23:33:34.267Z
4  2017-07-15T21:37:44.486Z  2017-07-15T21:37:44.486Z
5  2017-07-14T21:32:45.424Z  2017-07-14T21:32:45.424Z
6  2017-07-14T18:17:45.876Z  2017-07-14T18:18:29.689Z
7  2017-07-12T12:34:56.343Z  2017-07-12T12:39:10.125Z
8  2017-07-10T07:22:13.565Z  2017-07-10T07:22:17.361Z
9  2017-07-09T17:55:46.588Z  2017-07-09T17:56:52.874Z

                                                name  \
0  accounts/113838515205835963900/locations/41527...
1  accounts/113838515205835963900/locations/41527...
2  accounts/113838515205835963900/locations/41527...
3  accounts/113838515205835963900/locations/41527...
4  accounts/113838515205835963900/locations/41527...
5  accounts/113838515205835963900/locations/41527...
6  accounts/113838515205835963900/locations/41527...
7  accounts/113838515205835963900/locations/41527...
8  accounts/113838515205835963900/locations/41527...
9  accounts/113838515205835963900/locations/41527...

                    displayName                 reviewer_name  \
0                   Edson Ogata                   Edson Ogata
1                 Paulo Thunder                 Paulo Thunder
2             Gui e rafa Filios             Gui e rafa Filios
3        Dayana Godeguesi Ayres        Dayana Godeguesi Ayres
4  Gabriel Souza Brito da Silva  Gabriel Souza Brito da Silva
5                Carol Severian                Carol Severian
6       Silverio Cavalli junior       Silverio Cavalli junior
7              Cristina Affonso              Cristina Affonso
8                 Jacky Feitoza                 Jacky Feitoza
9        Walter Augusto Benatti        Walter Augusto Benatti

                              review_id
0  ChdDSUhNMG9nS0VJQ0FnSUNRajZ2WTlRRRAB
1   ChZDSUhNMG9nS0VJQ0FnSUNRNWFfUVJ3EAE
2   ChZDSUhNMG9nS0VJQ0FnSUNnOTlyNEV3EAE
3  ChdDSUhNMG9nS0VJQ0FnSURBdjVTMF93RRAB
4  ChdDSUhNMG9nS0VJQ0FnSURRbHNyZXlRRRAB
5  ChdDSUhNMG9nS0VJQ0FnSUNndF9qeXR3RRAB
6   ChZDSUhNMG9nS0VJQ0FnSURBMllMRGFREAE
7  ChdDSUhNMG9nS0VJQ0FnSUNBcEsyTmtRRRAB
8   ChZDSUhNMG9nS0VJQ0FnSUNnazQ2aWF3EAE
9   ChZDSUhNMG9nS0VJQ0FnSURBamFiX1lREAE

In [38]:
df3.head()

,reviewer,starRating,comment,createTime,updateTime,name,displayName,reviewer_name,review_id
0,{'displayName': 'Edson Ogata'},FOUR,(Translated by Google) Camping with a family a...,2017-05-26T22:07:31.680Z,2017-07-23T04:21:41.602Z,accounts/113838515205835963900/locations/41527...,Edson Ogata,Edson Ogata,ChdDSUhNMG9nS0VJQ0FnSUNRajZ2WTlRRRAB
1,{'displayName': 'Paulo Thunder'},FIVE,NaN,2017-07-21T05:55:14.115Z,2017-07-21T05:55:14.115Z,accounts/113838515205835963900/locations/41527...,Paulo Thunder,Paulo Thunder,ChZDSUhNMG9nS0VJQ0FnSUNRNWFfUVJ3EAE
2,{'displayName': 'Gui e rafa Filios'},FOUR,NaN,2017-07-18T21:06:30.581Z,2017-07-18T21:06:30.581Z,accounts/113838515205835963900/locations/41527...,Gui e rafa Filios,Gui e rafa Filios,ChZDSUhNMG9nS0VJQ0FnSUNnOTlyNEV3EAE
3,{'displayName': 'Dayana Godeguesi Ayres'},FIVE,(Translated by Google) The best camping I've e...,2017-07-17T23:33:34.267Z,2017-07-17T23:33:34.267Z,accounts/113838515205835963900/locations/41527...,Dayana Godeguesi Ayres,Dayana Godeguesi Ayres,ChdDSUhNMG9nS0VJQ0FnSURBdjVTMF93RRAB
4,{'displayName': 'Gabriel Souza Brito da Silva'},FIVE,(Translated by Google) Very good\n\n(Original)...,2017-07-15T21:37:44.486Z,2017-07-15T21:37:44.486Z,accounts/113838515205835963900/locations/41527...,Gabriel Souza Brito da Silva,Gabriel Souza Brito da Silva,ChdDSUhNMG9nS0VJQ0FnSURRbHNyZXlRRRAB

In [39]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    '{"reviewer": {"displayName": "Pedro Antonio Filho"}, "starRating": "FIVE", "createTime": "2017-07-06T22:31:51.537Z", "updateTime": "2017-07-06T22:31:51.537Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUN3eW92Q09BEAE"}',
    '{"reviewer": {"displayName": "lucio nunes"}, "starRating": "FIVE", "comment": "(Translated by Google) Excellent\\n\\n(Original)\\nÓtimo", "createTime": "2017-11-19T20:07:08.318Z", "updateTime": "2017-11-19T20:07:08.318Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURROGNiME5BEAE"}',
    '{"reviewer": {"displayName": "Felipe Souza"}, "starRating": "TWO", "comment": "(Translated by Google) Crowded!! It had everything to be good. Dirty pool.\\n\\n(Original)\\nLotado!! Tinha tudo pra ser bom. Piscina suja.", "createTime": "2017-10-15T10:02:21.987Z", "updateTime": "2017-11-19T12:12:37.904Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNBaDZMazlBRRAB"}',
    '{"reviewer": {"displayName": "Denis André Dellanava Martin"}, "starRating": "FIVE", "comment": "Top", "createTime": "2017-11-16T21:37:53.212Z", "updateTime": "2017-11-16T21:37:59.663Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURBNHJyRlFBEAE"}',
    '{"reviewer": {"displayName": "Henrique Schroder"}, "starRating": "FIVE", "comment": "(Translated by Google) Great facilities, good trails, restaurant, etc.\\n\\n(Original)\\nÓtimas instalações, boas trilhas, restaurante, etc", "createTime": "2017-11-14T00:34:39.487Z", "updateTime": "2017-11-14T00:34:39.487Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNRdFBpYWVBEAE"}',
    '{"reviewer": {"displayName": "Raphaela Barzon"}, "starRating": "FIVE", "comment": "(Translated by Google) The atmosphere is very familiar, the food is very delicious and the chalets are cozy.\\n\\n(Original)\\nO ambiente é bem familiar,a comida é muito gostosa e os chalés aconchegantes", "createTime": "2017-11-10T18:17:35.231Z", "updateTime": "2017-11-10T18:18:31.909Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNnczlTeTVRRRAB"}',
    '{"reviewer": {"displayName": "Wolle B"}, "starRating": "FOUR", "createTime": "2017-11-10T10:31:21.514Z", "updateTime": "2017-11-10T10:31:21.514Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURnaHNiNnR3RRAB"}',
    '{"reviewer": {"displayName": "Fabio Cunha"}, "starRating": "FIVE", "comment": "(Translated by Google) We liked a lot\\n\\n(Original)\\nGostamos muito", "createTime": "2017-11-09T21:05:11.121Z", "updateTime": "2017-11-09T21:05:34.753Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNBcklDZHpRRRAB"}',
    '{"reviewer": {"displayName": "Beatriz Machado Canedo"}, "starRating": "FIVE", "createTime": "2017-11-09T19:02:36.324Z", "updateTime": "2017-11-09T19:02:36.324Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNBaGVfM19RRRAB"}',
    '{"reviewer": {"displayName": "Glaucia Oliveira"}, "starRating": "FIVE", "createTime": "2017-11-09T11:21:09.141Z", "updateTime": "2017-11-09T11:21:09.141Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNRaXVYUVhBEAE"}'
]

# Convert JSON strings to dictionaries and create a DataFrame
df4 = pd.DataFrame([json.loads(json_string) for json_string in json_strings])

# Access elements and create new columns
df4['displayName'] = df4['reviewer'].apply(lambda x: x['displayName'])
df4['starRating'] = df4['starRating']
df4['comment'] = df4['comment']
df4['createTime'] = df4['createTime']
df4['updateTime'] = df4['updateTime']
df4['reviewer_name'] = df4['reviewer'].apply(lambda x: x['displayName'])
df4['review_id'] = df4['name'].apply(lambda x: x.split('/')[-1])

# Display the resulting DataFrame
print(df4)

                                          reviewer starRating  \
0           {'displayName': 'Pedro Antonio Filho'}       FIVE
1                   {'displayName': 'lucio nunes'}       FIVE
2                  {'displayName': 'Felipe Souza'}        TWO
3  {'displayName': 'Denis André Dellanava Martin'}       FIVE
4             {'displayName': 'Henrique Schroder'}       FIVE
5               {'displayName': 'Raphaela Barzon'}       FIVE
6                       {'displayName': 'Wolle B'}       FOUR
7                   {'displayName': 'Fabio Cunha'}       FIVE
8        {'displayName': 'Beatriz Machado Canedo'}       FIVE
9              {'displayName': 'Glaucia Oliveira'}       FIVE

                 createTime                updateTime  \
0  2017-07-06T22:31:51.537Z  2017-07-06T22:31:51.537Z
1  2017-11-19T20:07:08.318Z  2017-11-19T20:07:08.318Z
2  2017-10-15T10:02:21.987Z  2017-11-19T12:12:37.904Z
3  2017-11-16T21:37:53.212Z  2017-11-16T21:37:59.663Z
4  2017-11-14T00:34:39.487Z  2017-11-14T00:34:39.487Z
5  2017-11-10T18:17:35.231Z  2017-11-10T18:18:31.909Z
6  2017-11-10T10:31:21.514Z  2017-11-10T10:31:21.514Z
7  2017-11-09T21:05:11.121Z  2017-11-09T21:05:34.753Z
8  2017-11-09T19:02:36.324Z  2017-11-09T19:02:36.324Z
9  2017-11-09T11:21:09.141Z  2017-11-09T11:21:09.141Z

                                                name  \
0  accounts/113838515205835963900/locations/41527...
1  accounts/113838515205835963900/locations/41527...
2  accounts/113838515205835963900/locations/41527...
3  accounts/113838515205835963900/locations/41527...
4  accounts/113838515205835963900/locations/41527...
5  accounts/113838515205835963900/locations/41527...
6  accounts/113838515205835963900/locations/41527...
7  accounts/113838515205835963900/locations/41527...
8  accounts/113838515205835963900/locations/41527...
9  accounts/113838515205835963900/locations/41527...

                                             comment  \
0                                                NaN
1  (Translated by Google) Excellent\n\n(Original)...
2  (Translated by Google) Crowded!! It had everyt...
3                                                Top
4  (Translated by Google) Great facilities, good ...
5  (Translated by Google) The atmosphere is very ...
6                                                NaN
7  (Translated by Google) We liked a lot\n\n(Orig...
8                                                NaN
9                                                NaN

                    displayName                 reviewer_name  \
0           Pedro Antonio Filho           Pedro Antonio Filho
1                   lucio nunes                   lucio nunes
2                  Felipe Souza                  Felipe Souza
3  Denis André Dellanava Martin  Denis André Dellanava Martin
4             Henrique Schroder             Henrique Schroder
5               Raphaela Barzon               Raphaela Barzon
6                       Wolle B                       Wolle B
7                   Fabio Cunha                   Fabio Cunha
8        Beatriz Machado Canedo        Beatriz Machado Canedo
9              Glaucia Oliveira              Glaucia Oliveira

                              review_id
0   ChZDSUhNMG9nS0VJQ0FnSUN3eW92Q09BEAE
1   ChZDSUhNMG9nS0VJQ0FnSURROGNiME5BEAE
2  ChdDSUhNMG9nS0VJQ0FnSUNBaDZMazlBRRAB
3   ChZDSUhNMG9nS0VJQ0FnSURBNHJyRlFBEAE
4   ChZDSUhNMG9nS0VJQ0FnSUNRdFBpYWVBEAE
5  ChdDSUhNMG9nS0VJQ0FnSUNnczlTeTVRRRAB
6  ChdDSUhNMG9nS0VJQ0FnSURnaHNiNnR3RRAB
7  ChdDSUhNMG9nS0VJQ0FnSUNBcklDZHpRRRAB
8  ChdDSUhNMG9nS0VJQ0FnSUNBaGVfM19RRRAB
9   ChZDSUhNMG9nS0VJQ0FnSUNRaXVYUVhBEAE

In [40]:
df4.head()

,reviewer,starRating,createTime,updateTime,name,comment,displayName,reviewer_name,review_id
0,{'displayName': 'Pedro Antonio Filho'},FIVE,2017-07-06T22:31:51.537Z,2017-07-06T22:31:51.537Z,accounts/113838515205835963900/locations/41527...,NaN,Pedro Antonio Filho,Pedro Antonio Filho,ChZDSUhNMG9nS0VJQ0FnSUN3eW92Q09BEAE
1,{'displayName': 'lucio nunes'},FIVE,2017-11-19T20:07:08.318Z,2017-11-19T20:07:08.318Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Excellent\n\n(Original)...,lucio nunes,lucio nunes,ChZDSUhNMG9nS0VJQ0FnSURROGNiME5BEAE
2,{'displayName': 'Felipe Souza'},TWO,2017-10-15T10:02:21.987Z,2017-11-19T12:12:37.904Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Crowded!! It had everyt...,Felipe Souza,Felipe Souza,ChdDSUhNMG9nS0VJQ0FnSUNBaDZMazlBRRAB
3,{'displayName': 'Denis André Dellanava Martin'},FIVE,2017-11-16T21:37:53.212Z,2017-11-16T21:37:59.663Z,accounts/113838515205835963900/locations/41527...,Top,Denis André Dellanava Martin,Denis André Dellanava Martin,ChZDSUhNMG9nS0VJQ0FnSURBNHJyRlFBEAE
4,{'displayName': 'Henrique Schroder'},FIVE,2017-11-14T00:34:39.487Z,2017-11-14T00:34:39.487Z,accounts/113838515205835963900/locations/41527...,"(Translated by Google) Great facilities, good ...",Henrique Schroder,Henrique Schroder,ChZDSUhNMG9nS0VJQ0FnSUNRdFBpYWVBEAE

In [41]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    '{"reviewer": {"displayName": "Jorge de Souza"}, "starRating": "FIVE", "comment": "(Translated by Google) Family environment, excellent leisure option.\\n\\n(Original)\\nAmbiente familiar, excelente opção de lazer.", "createTime": "2017-11-09T09:09:35.026Z", "updateTime": "2017-11-09T09:10:08.856Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURBaE9ISFZREAE"}',
    '{"reviewer": {"displayName": "Paulo Bertinelli"}, "starRating": "FIVE", "comment": "(Translated by Google) Ideal place to rest.\\n\\n(Original)\\nLugar ideal para descansar.", "createTime": "2017-11-08T14:51:38.767Z", "updateTime": "2017-11-08T14:51:49.339Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUN3bjRpLVB3EAE"}',
    '{"reviewer": {"displayName": "Renata Sol S"}, "starRating": "TWO", "comment": "(Translated by Google) I based on the reviews to choose the inn, but I didn\'t have a good experience. Camping is on a hill and the reserved chalet was like we were inside a hole. Old furniture and no kitchen accessories. Spider web in several places. Television only picked up one channel. Poor quality rented linen and stained pillows.\\nI went at night and the playground and the pool were in the dark. Poor lighting. Impossible to use. With a small child who needs an attraction, I don\'t recommend it. You can\'t even use velotrol at the campsite.\\nPositive point for the service of the staff. They were prompt in reimbursing us.\\n\\n(Original)\\nMe baseei nas avaliações pra escolher a pousada, mas não tive boa experiência. Camping fica num morro e o chalé reservado era como se nós estivéssemos dentro de um buraco. Móveis velhos e nenhum acessório de cozinha. Teia de aranha em vários lugares. Televisão só pegava um canal. Roupa de cama alugada de má qualidade e travesseiros manchados.\\nFui a noite e o playground e a piscina ficam no escuro. Iluminação precária. Impossível de usar. Com criança pequena que precisa de um atrativo, não recomendo. Nem velotrol dá pra usar no camping.\\nPonto positivo pro atendimento dos funcionários. Foram prontos em nos reembolsar.", "createTime": "2017-11-03T20:57:49.779Z", "updateTime": "2017-11-03T20:57:49.779Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURBdDRDaWRBEAE"}',
    '{"reviewer": {"displayName": "Paulo Sérgio Francisco de Jesus"}, "starRating": "ONE", "createTime": "2017-11-03T19:15:52.128Z", "updateTime": "2017-11-03T19:15:52.128Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNRNHFUUTVBRRAB"}',
    '{"reviewer": {"displayName": "Elaina Fanchini"}, "starRating": "FIVE", "comment": "(Translated by Google) Cozy....I really like the place and the staff!!! Very good service and great food!\\n\\n(Original)\\nAconchegante....gosto muito do local e dos funcionários!!! Atendimento muito bom e comida TB!", "createTime": "2017-11-03T17:57:17.154Z", "updateTime": "2017-11-03T17:57:57.494Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNBanJUb3pRRRAB"}',
    '{"reviewer": {"displayName": "Gabriela Branco"}, "starRating": "FOUR", "createTime": "2017-11-02T12:09:46.639Z", "updateTime": "2017-11-02T12:09:46.639Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNZaUk3LUZ3EAE"}',
    '{"reviewer": {"displayName": "Sarah Velloso"}, "starRating": "FIVE", "createTime": "2017-11-02T01:28:01.062Z", "updateTime": "2017-11-02T01:28:01.062Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURnMk5mMFRREAE"}',
    '{"reviewer": {"displayName": "Fernanda Jimenez"}, "starRating": "FIVE", "createTime": "2017-11-01T10:15:14.686Z", "updateTime": "2017-11-01T10:15:14.686Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNBcHRldEVREAE"}',
    '{"reviewer": {"displayName": "Alexandre Amarelo"}, "starRating": "FIVE", "createTime": "2017-10-28T22:38:31.004Z", "updateTime": "2017-10-28T22:38:31.004Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNZaUt6ZVpBEAE"}',
    '{"reviewer": {"displayName": "Danilo Barão"}, "starRating": "FIVE", "comment": "(Translated by Google) Excellent service, staff always very attentive\\n\\n(Original)\\nExcelente atendimento, pessoal sempre bem atencioso", "createTime": "2017-10-27T09:00:12.800Z", "updateTime": "2017-10-27T09:00:53.765Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURRbXBqYW1BRRAB"}',
    '{"reviewer": {"displayName": "josias marciano da cruz neto neto"}, "starRating": "THREE", "createTime": "2017-10-27T01:54:26.675Z", "updateTime": "2017-10-27T01:54:26.675Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURnN2FyRlpBEAE"}',
    '{"reviewer": {"displayName": "Érica Teixeira"}, "starRating": "FOUR", "createTime": "2018-03-11T12:26:43.805Z", "updateTime": "2018-03-11T12:26:43.805Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNZaU1LUGxnRRAB"}',
    '{"reviewer": {"displayName": "Fernando Posso"}, "starRating": "FIVE", "createTime": "2018-03-11T11:55:40.211Z", "updateTime": "2018-03-11T11:55:40.211Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNZaVBxV0FnEAE"}',
    '{"reviewer": {"displayName": "michele silva"}, "starRating": "FOUR", "createTime": "2018-03-10T20:38:03.083Z", "updateTime": "2018-03-10T20:38:03.083Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURRdC1IUDlBRRAB"}',
    '{"reviewer": {"displayName": "Ana Carolina Cordeiro"}, "starRating": "FOUR", "createTime": "2018-03-10T11:45:18.264Z", "updateTime": "2018-03-10T11:45:18.264Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUN3aGEzY2JnEAE"}',
    '{"reviewer": {"displayName": "Mariana Meneguim Wonraht"}, "starRating": "FOUR", "createTime": "2018-03-10T10:55:28.512Z", "updateTime": "2018-03-10T10:55:28.512Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNnaDZHcTZRRRAB"}',
    '{"reviewer": {"displayName": "Ricardo Gonçalves"}, "starRating": "FOUR", "comment": "(Translated by Google) It\'s been great.\\n\\n(Original)\\nEstá sendo ótima.", "createTime": "2018-03-09T17:51:47.490Z", "updateTime": "2018-03-09T17:51:47.490Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNnd096dWl3RRAB"}',
    '{"reviewer": {"displayName": "Giovanna Correia Dos Santos Ferrera"}, "starRating": "FIVE", "comment": "(Translated by Google) This place is good, you just have to improve the chalet\\n\\n(Original)\\nEsse lugar e bom só tem que melhorar o chalé", "createTime": "2018-03-07T23:35:04.678Z", "updateTime": "2018-03-07T23:35:38.919Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURBN1BEenl3RRAB"}',
    '{"reviewer": {"displayName": "Verenice Oliveira"}, "starRating": "FIVE", "comment": "(Translated by Google) Excellent. Well family.\\n\\n(Original)\\nOtimo. Bem familia.", "createTime": "2018-03-06T21:54:08.604Z", "updateTime": "2018-03-06T21:54:23.788Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNBb3Z1RVR3EAE"}',
    '{"reviewer": {"displayName": "Isaque Mauro"}, "starRating": "FIVE", "comment": "Otims", "createTime": "2018-03-06T01:21:08.700Z", "updateTime": "2018-03-06T01:21:17.428Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNBcExUTzNRRRAB"}'
]

# Convert JSON strings to dictionaries and create a list of dictionaries
data_list = [json.loads(json_string) for json_string in json_strings]

# Create a DataFrame
df5 = pd.DataFrame(data_list)

# Access elements and create new

In [43]:
df5.head(20)

,reviewer,starRating,comment,createTime,updateTime,name
0,{'displayName': 'Jorge de Souza'},FIVE,"(Translated by Google) Family environment, exc...",2017-11-09T09:09:35.026Z,2017-11-09T09:10:08.856Z,accounts/113838515205835963900/locations/41527...
1,{'displayName': 'Paulo Bertinelli'},FIVE,(Translated by Google) Ideal place to rest.\n\...,2017-11-08T14:51:38.767Z,2017-11-08T14:51:49.339Z,accounts/113838515205835963900/locations/41527...
2,{'displayName': 'Renata Sol S'},TWO,(Translated by Google) I based on the reviews ...,2017-11-03T20:57:49.779Z,2017-11-03T20:57:49.779Z,accounts/113838515205835963900/locations/41527...
3,{'displayName': 'Paulo Sérgio Francisco de Jes...,ONE,NaN,2017-11-03T19:15:52.128Z,2017-11-03T19:15:52.128Z,accounts/113838515205835963900/locations/41527...
4,{'displayName': 'Elaina Fanchini'},FIVE,(Translated by Google) Cozy....I really like t...,2017-11-03T17:57:17.154Z,2017-11-03T17:57:57.494Z,accounts/113838515205835963900/locations/41527...
5,{'displayName': 'Gabriela Branco'},FOUR,NaN,2017-11-02T12:09:46.639Z,2017-11-02T12:09:46.639Z,accounts/113838515205835963900/locations/41527...
6,{'displayName': 'Sarah Velloso'},FIVE,NaN,2017-11-02T01:28:01.062Z,2017-11-02T01:28:01.062Z,accounts/113838515205835963900/locations/41527...
7,{'displayName': 'Fernanda Jimenez'},FIVE,NaN,2017-11-01T10:15:14.686Z,2017-11-01T10:15:14.686Z,accounts/113838515205835963900/locations/41527...
8,{'displayName': 'Alexandre Amarelo'},FIVE,NaN,2017-10-28T22:38:31.004Z,2017-10-28T22:38:31.004Z,accounts/113838515205835963900/locations/41527...
9,{'displayName': 'Danilo Barão'},FIVE,"(Translated by Google) Excellent service, staf...",2017-10-27T09:00:12.800Z,2017-10-27T09:00:53.765Z,accounts/113838515205835963900/locations/41527...
10,{'displayName': 'josias marciano da cruz neto ...,THREE,NaN,2017-10-27T01:54:26.675Z,2017-10-27T01:54:26.675Z,accounts/113838515205835963900/locations/41527...
11,{'displayName': 'Érica Teixeira'},FOUR,NaN,2018-03-11T12:26:43.805Z,2018-03-11T12:26:43.805Z,accounts/113838515205835963900/locations/41527...
12,{'displayName': 'Fernando Posso'},FIVE,NaN,2018-03-11T11:55:40.211Z,2018-03-11T11:55:40.211Z,accounts/113838515205835963900/locations/41527...
13,{'displayName': 'michele silva'},FOUR,NaN,2018-03-10T20:38:03.083Z,2018-03-10T20:38:03.083Z,accounts/113838515205835963900/locations/41527...
14,{'displayName': 'Ana Carolina Cordeiro'},FOUR,NaN,2018-03-10T11:45:18.264Z,2018-03-10T11:45:18.264Z,accounts/113838515205835963900/locations/41527...
15,{'displayName': 'Mariana Meneguim Wonraht'},FOUR,NaN,2018-03-10T10:55:28.512Z,2018-03-10T10:55:28.512Z,accounts/113838515205835963900/locations/41527...
16,{'displayName': 'Ricardo Gonçalves'},FOUR,(Translated by Google) It's been great.\n\n(Or...,2018-03-09T17:51:47.490Z,2018-03-09T17:51:47.490Z,accounts/113838515205835963900/locations/41527...
17,{'displayName': 'Giovanna Correia Dos Santos F...,FIVE,"(Translated by Google) This place is good, you...",2018-03-07T23:35:04.678Z,2018-03-07T23:35:38.919Z,accounts/113838515205835963900/locations/41527...
18,{'displayName': 'Verenice Oliveira'},FIVE,(Translated by Google) Excellent. Well family....,2018-03-06T21:54:08.604Z,2018-03-06T21:54:23.788Z,accounts/113838515205835963900/locations/41527...
19,{'displayName': 'Isaque Mauro'},FIVE,Otims,2018-03-06T01:21:08.700Z,2018-03-06T01:21:17.428Z,accounts/113838515205835963900/locations/41527...

In [44]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    '{"reviewer": {"displayName": "Mel Carlota"}, "starRating": "FIVE", "createTime": "2018-03-05T13:19:57.073Z", "updateTime": "2018-03-05T13:19:57.073Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNZaUxMUm13RRAB"}',
    '{"reviewer": {"displayName": "Fabiano Salermo de Aquino"}, "starRating": "FOUR", "createTime": "2018-03-05T01:10:23.097Z", "updateTime": "2018-03-05T01:10:23.097Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUN3eGJhOWlBRRAB"}',
    '{"reviewer": {"displayName": "Elton Rafael"}, "starRating": "FOUR", "createTime": "2018-03-04T23:16:10.984Z", "updateTime": "2018-03-04T23:16:10.984Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNBMkpLSExnEAE"}',
    '{"reviewer": {"displayName": "Fernando Oliveira"}, "starRating": "FIVE", "comment": "(Translated by Google) Very good for camping or renting a chalet\\n\\n(Original)\\nMuito bom para acampar ou alugar chalé", "createTime": "2018-03-03T21:18:03.304Z", "updateTime": "2018-03-03T21:18:18.649Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNBNHVIUFRBEAE"}',
    '{"reviewer": {"displayName": "Paulo Sousa"}, "starRating": "FIVE", "createTime": "2018-03-01T09:04:48.649Z", "updateTime": "2018-03-01T09:04:48.649Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURnaDhPX2xBRRAB"}',
    '{"reviewer": {"displayName": "Andréia Coelho"}, "starRating": "FIVE", "comment": "(Translated by Google) Family atmosphere. Great place to rest\\n\\n(Original)\\nAmbiente familiar. Ótimo local para descanso", "createTime": "2018-03-01T01:01:12.852Z", "updateTime": "2018-03-01T01:01:34.540Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNneXBUNkZREAE"}',
    '{"reviewer": {"displayName": "Matheus SB"}, "starRating": "FIVE", "comment": "(Translated by Google) Great food.. cozy place\\n\\n(Original)\\nComida ótima.. lugar aconchegante", "createTime": "2018-02-28T16:13:13.279Z", "updateTime": "2018-02-28T16:13:30.711Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUN3OE02Y0hBEAE"}',
    '{"reviewer": {"displayName": "Eliezer Monteiro"}, "starRating": "FIVE", "comment": "(Translated by Google) Just wonderful. Good price, good restaurant too. Ideal for those who like to camp. Easy access. I recommend.\\n\\n(Original)\\nSimplesmente maravilhoso. Preço bom, restaurante bom também. Ideal para quem gosta de acampar. Fácil acesso. Recomendo.", "createTime": "2018-01-21T17:49:56.901Z", "updateTime": "2018-02-27T03:02:33.005Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSUNnNFA2VUNREAE"}',
    '{"reviewer": {"displayName": "Lucas Gasparini"}, "starRating": "FIVE", "comment": "(Translated by Google) Very good\\n\\n(Original)\\nMuito boa", "createTime": "2018-02-26T15:46:56.876Z", "updateTime": "2018-02-26T15:47:54.784Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURBLTk2eHVRRRAB"}',
    '{"reviewer": {"displayName": "wagner diniz"}, "starRating": "FIVE", "comment": "(Translated by Google) The best\\n\\n(Original)\\nO melhor", "createTime": "2018-02-26T11:59:53.396Z", "updateTime": "2018-02-26T12:00:00.704Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNZaU9idHhRRRAB"}',
    '{"reviewer": {"displayName": "Paulo Sergio Costa Braga"}, "starRating": "FIVE", "comment": "(Translated by Google) Very quiet and wonderful family place\\n\\n(Original)\\nLocal muito tranquilo e familiar maravilhoso", "createTime": "2018-02-26T11:49:25.750Z", "updateTime": "2018-02-26T11:50:19.695Z", "name": "accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURBaU9td09BEAE"}'
]

# Convert JSON strings to dictionaries
data_list = [json.loads(json_string) for json_string in json_strings]

# Create a DataFrame
df6 = pd.DataFrame(data_list)

# Access elements and create new columns
df6['displayName'] = df6['reviewer'].apply(lambda x: x['displayName'])
df6['starRating'] = df6['starRating']
df6['comment'] = df6['comment']
df6['createTime'] = df6['createTime']
df6['updateTime'] = df6['updateTime']
df6['reviewer_name'] = df6['reviewer'].apply(lambda x: x['displayName'])
df6['review_id'] = df6['name'].apply(lambda x: x.split('/')[-1])

# Display the resulting DataFrame
print(df6)

                                        reviewer starRating  \
0                 {'displayName': 'Mel Carlota'}       FIVE
1   {'displayName': 'Fabiano Salermo de Aquino'}       FOUR
2                {'displayName': 'Elton Rafael'}       FOUR
3           {'displayName': 'Fernando Oliveira'}       FIVE
4                 {'displayName': 'Paulo Sousa'}       FIVE
5              {'displayName': 'Andréia Coelho'}       FIVE
6                  {'displayName': 'Matheus SB'}       FIVE
7            {'displayName': 'Eliezer Monteiro'}       FIVE
8             {'displayName': 'Lucas Gasparini'}       FIVE
9                {'displayName': 'wagner diniz'}       FIVE
10   {'displayName': 'Paulo Sergio Costa Braga'}       FIVE

                  createTime                updateTime  \
0   2018-03-05T13:19:57.073Z  2018-03-05T13:19:57.073Z
1   2018-03-05T01:10:23.097Z  2018-03-05T01:10:23.097Z
2   2018-03-04T23:16:10.984Z  2018-03-04T23:16:10.984Z
3   2018-03-03T21:18:03.304Z  2018-03-03T21:18:18.649Z
4   2018-03-01T09:04:48.649Z  2018-03-01T09:04:48.649Z
5   2018-03-01T01:01:12.852Z  2018-03-01T01:01:34.540Z
6   2018-02-28T16:13:13.279Z  2018-02-28T16:13:30.711Z
7   2018-01-21T17:49:56.901Z  2018-02-27T03:02:33.005Z
8   2018-02-26T15:46:56.876Z  2018-02-26T15:47:54.784Z
9   2018-02-26T11:59:53.396Z  2018-02-26T12:00:00.704Z
10  2018-02-26T11:49:25.750Z  2018-02-26T11:50:19.695Z

                                                 name  \
0   accounts/113838515205835963900/locations/41527...
1   accounts/113838515205835963900/locations/41527...
2   accounts/113838515205835963900/locations/41527...
3   accounts/113838515205835963900/locations/41527...
4   accounts/113838515205835963900/locations/41527...
5   accounts/113838515205835963900/locations/41527...
6   accounts/113838515205835963900/locations/41527...
7   accounts/113838515205835963900/locations/41527...
8   accounts/113838515205835963900/locations/41527...
9   accounts/113838515205835963900/locations/41527...
10  accounts/113838515205835963900/locations/41527...

                                              comment  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3   (Translated by Google) Very good for camping o...
4                                                 NaN
5   (Translated by Google) Family atmosphere. Grea...
6   (Translated by Google) Great food.. cozy place...
7   (Translated by Google) Just wonderful. Good pr...
8   (Translated by Google) Very good\n\n(Original)...
9   (Translated by Google) The best\n\n(Original)\...
10  (Translated by Google) Very quiet and wonderfu...

                  displayName              reviewer_name  \
0                 Mel Carlota                Mel Carlota
1   Fabiano Salermo de Aquino  Fabiano Salermo de Aquino
2                Elton Rafael               Elton Rafael
3           Fernando Oliveira          Fernando Oliveira
4                 Paulo Sousa                Paulo Sousa
5              Andréia Coelho             Andréia Coelho
6                  Matheus SB                 Matheus SB
7            Eliezer Monteiro           Eliezer Monteiro
8             Lucas Gasparini            Lucas Gasparini
9                wagner diniz               wagner diniz
10   Paulo Sergio Costa Braga   Paulo Sergio Costa Braga

                               review_id
0   ChdDSUhNMG9nS0VJQ0FnSUNZaUxMUm13RRAB
1   ChdDSUhNMG9nS0VJQ0FnSUN3eGJhOWlBRRAB
2    ChZDSUhNMG9nS0VJQ0FnSUNBMkpLSExnEAE
3    ChZDSUhNMG9nS0VJQ0FnSUNBNHVIUFRBEAE
4   ChdDSUhNMG9nS0VJQ0FnSURnaDhPX2xBRRAB
5    ChZDSUhNMG9nS0VJQ0FnSUNneXBUNkZREAE
6    ChZDSUhNMG9nS0VJQ0FnSUN3OE02Y0hBEAE
7    ChZDSUhNMG9nS0VJQ0FnSUNnNFA2VUNREAE
8   ChdDSUhNMG9nS0VJQ0FnSURBLTk2eHVRRRAB
9   ChdDSUhNMG9nS0VJQ0FnSUNZaU9idHhRRRAB
10   ChZDSUhNMG9nS0VJQ0FnSURBaU9td09BEAE

In [45]:
df6.head()

,reviewer,starRating,createTime,updateTime,name,comment,displayName,reviewer_name,review_id
0,{'displayName': 'Mel Carlota'},FIVE,2018-03-05T13:19:57.073Z,2018-03-05T13:19:57.073Z,accounts/113838515205835963900/locations/41527...,NaN,Mel Carlota,Mel Carlota,ChdDSUhNMG9nS0VJQ0FnSUNZaUxMUm13RRAB
1,{'displayName': 'Fabiano Salermo de Aquino'},FOUR,2018-03-05T01:10:23.097Z,2018-03-05T01:10:23.097Z,accounts/113838515205835963900/locations/41527...,NaN,Fabiano Salermo de Aquino,Fabiano Salermo de Aquino,ChdDSUhNMG9nS0VJQ0FnSUN3eGJhOWlBRRAB
2,{'displayName': 'Elton Rafael'},FOUR,2018-03-04T23:16:10.984Z,2018-03-04T23:16:10.984Z,accounts/113838515205835963900/locations/41527...,NaN,Elton Rafael,Elton Rafael,ChZDSUhNMG9nS0VJQ0FnSUNBMkpLSExnEAE
3,{'displayName': 'Fernando Oliveira'},FIVE,2018-03-03T21:18:03.304Z,2018-03-03T21:18:18.649Z,accounts/113838515205835963900/locations/41527...,(Translated by Google) Very good for camping o...,Fernando Oliveira,Fernando Oliveira,ChZDSUhNMG9nS0VJQ0FnSUNBNHVIUFRBEAE
4,{'displayName': 'Paulo Sousa'},FIVE,2018-03-01T09:04:48.649Z,2018-03-01T09:04:48.649Z,accounts/113838515205835963900/locations/41527...,NaN,Paulo Sousa,Paulo Sousa,ChdDSUhNMG9nS0VJQ0FnSURnaDhPX2xBRRAB

In [47]:
import pandas as pd

# Assuming df, df1, df2, df3, df4, df5, and df6 are your DataFrames

# Create a list of DataFrames
dfs = [df, df2, df3, df4, df5, df6]

# Concatenate the DataFrames
file123 = pd.concat(dfs, ignore_index=True)

# Display the resulting DataFrame
file123.head()

,reviewer,starRating,comment,createTime,updateTime,name,displayName,reviewer_name,review_id
0,{'displayName': 'Edson Ogata'},FOUR,(Translated by Google) Camping with a family a...,2017-05-26T22:07:31.680Z,2017-07-23T04:21:41.602Z,accounts/113838515205835963900/locations/41527...,Edson Ogata,Edson Ogata,ChdDSUhNMG9nS0VJQ0FnSUNRajZ2WTlRRRAB
1,{'displayName': 'Paulo Thunder'},FIVE,NaN,2017-07-21T05:55:14.115Z,2017-07-21T05:55:14.115Z,accounts/113838515205835963900/locations/41527...,Paulo Thunder,Paulo Thunder,ChZDSUhNMG9nS0VJQ0FnSUNRNWFfUVJ3EAE
2,{'displayName': 'Gui e rafa Filios'},FOUR,NaN,2017-07-18T21:06:30.581Z,2017-07-18T21:06:30.581Z,accounts/113838515205835963900/locations/41527...,Gui e rafa Filios,Gui e rafa Filios,ChZDSUhNMG9nS0VJQ0FnSUNnOTlyNEV3EAE
3,{'displayName': 'Dayana Godeguesi Ayres'},FIVE,(Translated by Google) The best camping I've e...,2017-07-17T23:33:34.267Z,2017-07-17T23:33:34.267Z,accounts/113838515205835963900/locations/41527...,Dayana Godeguesi Ayres,Dayana Godeguesi Ayres,ChdDSUhNMG9nS0VJQ0FnSURBdjVTMF93RRAB
4,{'displayName': 'Gabriel Souza Brito da Silva'},FIVE,(Translated by Google) Very good\n\n(Original)...,2017-07-15T21:37:44.486Z,2017-07-15T21:37:44.486Z,accounts/113838515205835963900/locations/41527...,Gabriel Souza Brito da Silva,Gabriel Souza Brito da Silva,ChdDSUhNMG9nS0VJQ0FnSURRbHNyZXlRRRAB

In [48]:
file123.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   reviewer       66 non-null     object
 1   starRating     66 non-null     object
 2   comment        36 non-null     object
 3   createTime     66 non-null     object
 4   updateTime     66 non-null     object
 5   name           66 non-null     object
 6   displayName    41 non-null     object
 7   reviewer_name  41 non-null     object
 8   review_id      41 non-null     object
dtypes: object(9)
memory usage: 4.8+ KB

In [49]:
file123["comment"]

0     (Translated by Google) Camping with a family a...
1                                                   NaN
2                                                   NaN
3     (Translated by Google) The best camping I've e...
4     (Translated by Google) Very good\n\n(Original)...
                            ...
61    (Translated by Google) Great food.. cozy place...
62    (Translated by Google) Just wonderful. Good pr...
63    (Translated by Google) Very good\n\n(Original)...
64    (Translated by Google) The best\n\n(Original)\...
65    (Translated by Google) Very quiet and wonderfu...
Name: comment, Length: 66, dtype: object

In [55]:
import pandas as pd

# Assuming df, df1, df2, df3, df4, df5, and df6 are your DataFrames

# Create a list of DataFrames
dfs = [df, df2, df3, df4, df5, df6]

# Concatenate the DataFrames
file123 = pd.concat(dfs, ignore_index=True)

# Save the concatenated DataFrame to a CSV file
file123.to_csv('file123.csv', index=False)

# Display the resulting DataFrame
print(file123.head())

                                             reviews reviewer starRating  \
0  {'reviewer': {'displayName': 'Virginia Malék M...      NaN        NaN
1  {'reviewer': {'displayName': 'Edson ITD'}, 'st...      NaN        NaN
2  {'reviewer': {'displayName': 'Alessandra Santo...      NaN        NaN
3  {'reviewer': {'displayName': 'Marcos Scudeler'...      NaN        NaN
4  {'reviewer': {'displayName': 'Ailton Dos Santo...      NaN        NaN

  createTime updateTime name comment displayName reviewer_name review_id
0        NaN        NaN  NaN     NaN         NaN           NaN       NaN
1        NaN        NaN  NaN     NaN         NaN           NaN       NaN
2        NaN        NaN  NaN     NaN         NaN           NaN       NaN
3        NaN        NaN  NaN     NaN         NaN           NaN       NaN
4        NaN        NaN  NaN     NaN         NaN           NaN       NaN

In [51]:
import json
import pandas as pd
import glob

# Specify the path to the directory containing your JSON files
json_files_path = "/Users/izaiaszacca/Documents/Reviews/GoogleReviews json copy/*.json"
#'/Users/izaiaszacca/Documents/Reviews/*.json'
#/Users/izaiaszacca/Documents/Reviews
#/Users/izaiaszacca/Documents/Reviews/GoogleReviews json

# Create an empty list to store DataFrames
dfs = []

# Iterate over each JSON file in the specified directory
for json_file_path in glob.glob(json_files_path):
    with open(json_file_path, 'r') as file:
        data = json.load(file)

    # Convert the JSON data to a Pandas DataFrame
    df = pd.DataFrame(data)

    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Specify the path for the combined CSV file
csv_output_path = '/Users/izaiaszacca/Documents/Reviews/gr2.csv'

# Save the combined DataFrame to a CSV file
combined_df.to_csv(csv_output_path, index=False)

print(f'Combined data has been saved to {csv_output_path}')

Combined data has been saved to /Users/izaiaszacca/Documents/Reviews/gr2.csv

In [53]:
import pandas as pd

gr2 = pd.read_csv("gr2.csv")

gr2.head()

                                             reviews
0  {'reviewer': {'displayName': 'Cássio Trajano'}...
1  {'reviewer': {'displayName': 'Danielle cristin...
2  {'reviewer': {'displayName': 'Arthursousa Viei...
3  {'reviewer': {'displayName': 'EVANDERSON ALEXA...
4  {'reviewer': {'displayName': 'Richard Xavier'}...

In [54]:
gr2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  2793 non-null   object
dtypes: object(1)
memory usage: 21.9+ KB

In [3]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    {'reviewer': {'displayName': 'Cássio Trajano'}, 'starRating': 'FIVE', 'comment': "(Translated by Google) I'm there every beginning of the year I highly recommend the chalets food entertainment a wide variety.\n\n(Original)\nEstou lá todo começo de ano super recomendo chalés comidas entretenimento uma grande variedade.", 'createTime': '2019-01-29T16:49:28.556676Z', 'updateTime': '2019-01-29T16:49:28.556676Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJdjktNTN3RRAB'},
    {'reviewer': {'displayName': 'Danielle cristine faria de oliveira'}, 'starRating': 'FIVE', 'comment': '(Translated by Google) Very beautiful and pleasant place. Breakfast and lunch have a lot of variety and are delicious.\n\n(Original)\nLugar muito bonito e agradável.  O café da manhã e almoço possui bastante variedades e são saborosos.', 'createTime': '2019-01-28T14:40:59.180127Z', 'updateTime': '2019-01-28T14:40:59.180127Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJbjdMczlRRRAB'},
    {'reviewer': {'displayName': 'Arthursousa Vieira'}, 'starRating': 'FIVE', 'comment': '(Translated by Google) One of the best canpings in the region\n\n(Original)\nUm dos melhores canpings da região', 'createTime': '2019-01-28T02:05:47.566036Z', 'updateTime': '2019-01-28T02:05:47.566036Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURJcjYtZGFREAE'},
    {'reviewer': {'displayName': 'EVANDERSON ALEXANDRE'}, 'starRating': 'FIVE', 'comment': '(Translated by Google) Family place but I found things on site expensive like lunch, ice cream, entrance, chalets\n\n(Original)\nLugar familiar mas achei caro as coisas no local tipo almoço, sorvete,entrada , chalés', 'createTime': '2019-01-28T00:56:38.167475Z', 'updateTime': '2019-01-28T00:56:38.167475Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURJcjl2eVBnEAE'}
]

# Convert JSON strings to dictionaries
data_list = [json.loads(json.dumps(line)) for line in json_strings]

# Create a DataFrame
df7 = pd.DataFrame(data_list)

# Access elements and create new columns
df7['displayName'] = df7['reviewer'].apply(lambda x: x['displayName'])
df7['starRating'] = df7['starRating']
df7['comment'] = df7['comment']
df7['createTime'] = df7['createTime']
df7['updateTime'] = df7['updateTime']
df7['reviewer_name'] = df7['reviewer'].apply(lambda x: x['displayName'])
df7['review_id'] = df7['name'].apply(lambda x: x.split('/')[-1])

# Display the resulting DataFrame
print(df7)

                                            reviewer starRating  \
0                  {'displayName': 'Cássio Trajano'}       FIVE
1  {'displayName': 'Danielle cristine faria de ol...       FIVE
2              {'displayName': 'Arthursousa Vieira'}       FIVE
3            {'displayName': 'EVANDERSON ALEXANDRE'}       FIVE

                                             comment  \
0  (Translated by Google) I'm there every beginni...
1  (Translated by Google) Very beautiful and plea...
2  (Translated by Google) One of the best canping...
3  (Translated by Google) Family place but I foun...

                    createTime                   updateTime  \
0  2019-01-29T16:49:28.556676Z  2019-01-29T16:49:28.556676Z
1  2019-01-28T14:40:59.180127Z  2019-01-28T14:40:59.180127Z
2  2019-01-28T02:05:47.566036Z  2019-01-28T02:05:47.566036Z
3  2019-01-28T00:56:38.167475Z  2019-01-28T00:56:38.167475Z

                                                name  \
0  accounts/113838515205835963900/locations/41527...
1  accounts/113838515205835963900/locations/41527...
2  accounts/113838515205835963900/locations/41527...
3  accounts/113838515205835963900/locations/41527...

                           displayName                        reviewer_name  \
0                       Cássio Trajano                       Cássio Trajano
1  Danielle cristine faria de oliveira  Danielle cristine faria de oliveira
2                   Arthursousa Vieira                   Arthursousa Vieira
3                 EVANDERSON ALEXANDRE                 EVANDERSON ALEXANDRE

                              review_id
0  ChdDSUhNMG9nS0VJQ0FnSURJdjktNTN3RRAB
1  ChdDSUhNMG9nS0VJQ0FnSURJbjdMczlRRRAB
2   ChZDSUhNMG9nS0VJQ0FnSURJcjYtZGFREAE
3   ChZDSUhNMG9nS0VJQ0FnSURJcjl2eVBnEAE

In [4]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    {'reviewer': {'displayName': 'Richard Xavier'}, 'starRating': 'FIVE', 'comment': "(Translated by Google) Great place! Affordable price and that's where Greice's trailer is!\n\n(Original)\nÓtimo lugar! Preço acessível  e é lá que fica o trailer da Greice!", 'createTime': '2019-01-27T20:42:17.239839Z', 'updateTime': '2019-01-27T20:43:28.501122Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJcl9iMDV3RRAB'},
    {'reviewer': {'displayName': 'E L'}, 'starRating': 'THREE', 'comment': '(Translated by Google) I went to the campsite to stay from Saturday to Sunday, I arrived at 3:30 pm and they wanted to charge me 2 days... I was really upset, since I go on almost all holidays. When we decided to leave, the girl at the reception wanted to let us in (after being in that climate/stress) we left, and we got to know a much better camping site than theirs. That is, I always went there, now I have a better option. I think that the campsites in the region should improve the check-in time, because for those who go camping, the time makes a difference (you need to set up tents, see the location... and the camping lighting is not efficient) it is very different than staying in a chalet ... and from what I saw, everyone has the same problem! The campground that allowed me to enter earlier was at the exception level! Another thing... the price of breakfast is very abusive!!\n\n(Original)\nFui ao camping pra ficar de sábado para domingo, cheguei as 15:30 hs e quiseram me cobrar 2 diárias...fiquei bem chateada, já que vou em quase todos os feriados. Quando resolvemos ir embora, a moça da recepção queria liberar a entrada  (depois de ficar aquele clima/ estress) fomos embora, e conhecemos um camping bem melhor que o deles. Ou seja, eu ia sempre lá, agora tenho uma opção melhor. Acho que os campings da região deveriam melhorar o horário de check in, pois quem vai acampar,  o horário faz a diferença (precisa montar barracas, ver a localização..e a iluminação do camping, não é eficiente) é bem diferente do que ficar em um chalé ...e pelo que vi, todos tem o mesmo problema! O camping que liberou a minha entrada antes, foi a nível de excessão! Outra coisa...o preço do café da manhã é muito abusivo!!', 'createTime': '2019-01-27T19:06:46.070634Z', 'updateTime': '2019-01-27T19:06:46.070634Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURJcjd6NFR3EAE'},
    {'reviewer': {'displayName': 'Adauto pero'}, 'starRating': 'FIVE', 'createTime': '2019-01-27T18:51:57.168735Z', 'updateTime': '2019-01-27T18:51:57.168735Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJcjZ6ZzFRRRAB'},
    {'reviewer': {'displayName': 'Paulo Joao Do Nascimento'}, 'starRating': 'FIVE', 'comment': '(Translated by Google) Congratulations on the very clean and organized campsite\n\n(Original)\nParabéns ao camping muito limpo e organizado', 'createTime': '2019-01-27T12:44:27.499821Z', 'updateTime': '2019-01-27T12:44:27.499821Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJejlLRnVBRRAB'},
    {'reviewer': {'displayName': 'Diogo Venom'}, 'starRating': 'FIVE', 'comment': '(Translated by Google) Very good ....\n\n(Original)\nMuito bom ....', 'createTime': '2019-01-19T09:40:55.823973Z', 'updateTime': '2019-01-27T10:56:04.648011Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChZDSUhNMG9nS0VJQ0FnSURJbzRuc1RnEAE'}
]

# Convert JSON strings to dictionaries
data_list = [json.loads(json.dumps(line)) for line in json_strings]

# Create a DataFrame
df10 = pd.DataFrame(data_list)

# Access elements and create new columns
df10['displayName'] = df10['reviewer'].apply(lambda x: x['displayName'])
df10['starRating'] = df10['starRating']
df10['comment'] = df10['comment']
df10['createTime'] = df10['createTime']
df10['updateTime'] = df10['updateTime']
df10['reviewer_name'] = df10['reviewer'].apply(lambda x: x['displayName'])
df10['review_id'] = df10['name'].apply(lambda x: x.split('/')[-1])

# Display the resulting DataFrame
print(df10)

                                      reviewer starRating  \
0            {'displayName': 'Richard Xavier'}       FIVE
1                       {'displayName': 'E L'}      THREE
2               {'displayName': 'Adauto pero'}       FIVE
3  {'displayName': 'Paulo Joao Do Nascimento'}       FIVE
4               {'displayName': 'Diogo Venom'}       FIVE

                                             comment  \
0  (Translated by Google) Great place! Affordable...
1  (Translated by Google) I went to the campsite ...
2                                                NaN
3  (Translated by Google) Congratulations on the ...
4  (Translated by Google) Very good ....\n\n(Orig...

                    createTime                   updateTime  \
0  2019-01-27T20:42:17.239839Z  2019-01-27T20:43:28.501122Z
1  2019-01-27T19:06:46.070634Z  2019-01-27T19:06:46.070634Z
2  2019-01-27T18:51:57.168735Z  2019-01-27T18:51:57.168735Z
3  2019-01-27T12:44:27.499821Z  2019-01-27T12:44:27.499821Z
4  2019-01-19T09:40:55.823973Z  2019-01-27T10:56:04.648011Z

                                                name  \
0  accounts/113838515205835963900/locations/41527...
1  accounts/113838515205835963900/locations/41527...
2  accounts/113838515205835963900/locations/41527...
3  accounts/113838515205835963900/locations/41527...
4  accounts/113838515205835963900/locations/41527...

                displayName             reviewer_name  \
0            Richard Xavier            Richard Xavier
1                       E L                       E L
2               Adauto pero               Adauto pero
3  Paulo Joao Do Nascimento  Paulo Joao Do Nascimento
4               Diogo Venom               Diogo Venom

                              review_id
0  ChdDSUhNMG9nS0VJQ0FnSURJcl9iMDV3RRAB
1   ChZDSUhNMG9nS0VJQ0FnSURJcjd6NFR3EAE
2  ChdDSUhNMG9nS0VJQ0FnSURJcjZ6ZzFRRRAB
3  ChdDSUhNMG9nS0VJQ0FnSURJejlLRnVBRRAB
4   ChZDSUhNMG9nS0VJQ0FnSURJbzRuc1RnEAE

In [5]:
import pandas as pd
import json

# Your corrected JSON strings with double quotes
json_strings = [
    {'reviewer': {'displayName': 'Vitor Seade Gomide'}, 'starRating': 'FIVE', 'createTime': '2019-01-26T21:56:27.142288Z', 'updateTime': '2019-01-26T21:56:27.142288Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJOV9uOXFRRRAB'},
    {'reviewer': {'displayName': 'Ana Rachel Ribeiro'}, 'starRating': 'FIVE', 'comment': '(Translated by Google) Clean and organized chalets. Breakfast and lunch are very tasty! Wonderful space to disconnect from the rush and enjoy nature. 😍\n\n(Original)\nChalés limpos e rganizado. Café da manhã e almoço mto saborosos! Espaço maravilhoso para se desligar da correria e curtir a natureza. 😍', 'createTime': '2019-01-26T21:28:59.324243Z', 'updateTime': '2019-01-26T21:28:59.324243Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJOTRuRDZ3RRAB'},
    {'reviewer': {'displayName': 'Lara Cristina'}, 'starRating': 'FOUR', 'createTime': '2019-01-26T11:39:12.254051Z', 'updateTime': '2019-01-26T11:39:12.254051Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJdC15dTl3RRAB'},
    {'reviewer': {'displayName': 'Lindineide Andrade de Lima Andrade'}, 'starRating': 'FIVE', 'comment': '(Translated by Google) Excellent place to rest, all the best I recommend approved. For those with good taste.\n\n(Original)\nExcelente lugar para descansar, tudo de bom recomendo aprovado. Para quem tem bom gosto.', 'createTime': '2019-01-26T11:11:59.743372Z', 'updateTime': '2019-01-26T11:11:59.743372Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJdC1UTXpRRRAB'},
    {'reviewer': {'displayName': 'Fernanda Dias'}, 'starRating': 'THREE', 'comment': '(Translated by Google) Great place, nice pools, only the restaurant could have more options\n\n(Original)\nÓtimo lugar, ótimas piscinas, apenas o restaurante podeira ter mais opções', 'createTime': '2019-01-26T02:17:37.992178Z', 'updateTime': '2019-01-26T02:17:37.992178Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSURJMTRMN3RnRRAB'},
    {'reviewer': {'displayName': 'Rubens Martins de Oliveira'}, 'starRating': 'FOUR', 'comment': '(Translated by Google) Children love it!\n\n(Original)\nAs crianças adoram!', 'createTime': '2019-01-25T11:34:55.411341Z', 'updateTime': '2019-01-25T11:36:37.013809Z', 'name': 'accounts/113838515205835963900/locations/4152719819240239429/reviews/ChdDSUhNMG9nS0VJQ0FnSUNZaU9xdzhRRRAB'}
]

# Convert JSON strings to dictionaries
data_list = [json.loads(json.dumps(line)) for line in json_strings]

# Create a DataFrame
df16 = pd.DataFrame(data_list)

# Access elements and create new columns
df16['displayName'] = df16['reviewer'].apply(lambda x: x['displayName'])
df16['starRating'] = df16['starRating']
df16['comment'] = df16['comment']
df16['createTime'] = df16['createTime']
df16['updateTime'] = df16['updateTime']
df16['reviewer_name'] = df16['reviewer'].apply(lambda x: x['displayName'])
df16['review_id'] = df16['name'].apply(lambda x: x.split('/')[-1])

# Display the resulting DataFrame
print(df16)

                                            reviewer starRating  \
0              {'displayName': 'Vitor Seade Gomide'}       FIVE
1              {'displayName': 'Ana Rachel Ribeiro'}       FIVE
2                   {'displayName': 'Lara Cristina'}       FOUR
3  {'displayName': 'Lindineide Andrade de Lima An...       FIVE
4                   {'displayName': 'Fernanda Dias'}      THREE
5      {'displayName': 'Rubens Martins de Oliveira'}       FOUR

                    createTime                   updateTime  \
0  2019-01-26T21:56:27.142288Z  2019-01-26T21:56:27.142288Z
1  2019-01-26T21:28:59.324243Z  2019-01-26T21:28:59.324243Z
2  2019-01-26T11:39:12.254051Z  2019-01-26T11:39:12.254051Z
3  2019-01-26T11:11:59.743372Z  2019-01-26T11:11:59.743372Z
4  2019-01-26T02:17:37.992178Z  2019-01-26T02:17:37.992178Z
5  2019-01-25T11:34:55.411341Z  2019-01-25T11:36:37.013809Z

                                                name  \
0  accounts/113838515205835963900/locations/41527...
1  accounts/113838515205835963900/locations/41527...
2  accounts/113838515205835963900/locations/41527...
3  accounts/113838515205835963900/locations/41527...
4  accounts/113838515205835963900/locations/41527...
5  accounts/113838515205835963900/locations/41527...

                                             comment  \
0                                                NaN
1  (Translated by Google) Clean and organized cha...
2                                                NaN
3  (Translated by Google) Excellent place to rest...
4  (Translated by Google) Great place, nice pools...
5  (Translated by Google) Children love it!\n\n(O...

                          displayName                       reviewer_name  \
0                  Vitor Seade Gomide                  Vitor Seade Gomide
1                  Ana Rachel Ribeiro                  Ana Rachel Ribeiro
2                       Lara Cristina                       Lara Cristina
3  Lindineide Andrade de Lima Andrade  Lindineide Andrade de Lima Andrade
4                       Fernanda Dias                       Fernanda Dias
5          Rubens Martins de Oliveira          Rubens Martins de Oliveira

                              review_id
0  ChdDSUhNMG9nS0VJQ0FnSURJOV9uOXFRRRAB
1  ChdDSUhNMG9nS0VJQ0FnSURJOTRuRDZ3RRAB
2  ChdDSUhNMG9nS0VJQ0FnSURJdC15dTl3RRAB
3  ChdDSUhNMG9nS0VJQ0FnSURJdC1UTXpRRRAB
4  ChdDSUhNMG9nS0VJQ0FnSURJMTRMN3RnRRAB
5  ChdDSUhNMG9nS0VJQ0FnSUNZaU9xdzhRRRAB